﻿
/*bootstrap correction*/
/**, *:before, *:after {
    -webkit-box-sizing: initial !important;
    -moz-box-sizing: initial !important;
    box-sizing: initial !important;
}*/
/* this is problem for other plugins please do not apply globally, inline and with important */

.CustomModal {
    float: none;
    margin: 0 auto;
    opacity: 0;
    width: 0px;
    height: 0px;
    position: relative;
    background-color: #FFF;
    border: 2px solid #AAA;
    padding: 0;
    top: 30%;
    -webkit-box-shadow: 5px 5px 30px #018;
    box-shadow: 5px 5px 30px #018;
}

#modalButtons {
    display: none;
    float: right;
    padding: 5px 10px;
    width: 97%;
}

    #modalButtons input[type=button] {
        margin-right: 10px;
        border-radius: 0px !important;
        float: right;
    }

    #modalButtons .ButtonsContainer {
        display: block;
        width: 100%;
        float: right;
        padding: 10px 0;
        border-top: 1px solid #AAA;
    }

#customModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    z-index: 1000;
}

.CustomModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #018;
}

.LoadingModal {
    width: 70px;
    height: 70px;
    background: url("../img/Loading.gif") no-repeat center center;
}

.CustomModalClose {
    font-family: Arial;
    position: relative;
    background-color: #000;
    width: 22px;
    height: 22px;
    color: #FFF;
    display: block;
    text-align: center;
    border: 2px solid #AAA;
    border-radius: 15px !important;
    cursor: pointer;
    font-size: 14px;
    bottom: 12px;
    right: 12px;
    z-index: 10000;
    opacity: 0;
    -webkit-box-shadow: #000 -2px 2px 3px;
    box-shadow: #000 -2px 2px 3px;
    line-height: 22px;
}

.FakeContainerRight {
    position: relative;
    width: 0px;
    height: 0px;
    float: right;
    overflow: visible;
}

.CustomModalErrorMessageContainer {
    width: 400px;
    cursor: default;
    background: url("../img/error_medium.png") no-repeat 20px center;
}

.CustomModalWarningMessageContainer {
    width: 400px;
    cursor: default;
    background: url("../img/warning_medium.png") no-repeat 20px center;
}

    .CustomModalWarningMessageContainer label, .CustomModalErrorMessageContainer label {
        font-family: Calibri;
        display: block;
        padding-top: 5px;
    }

.CustomModalErrorMessage {
    display: block;
    opacity: 1;
    width: 300px;
    min-height: 50px;
    float: none;
    padding: 15px 10px 15px 90px;
}
