﻿
.poll .header h4 {
	font-weight: normal;
	margin-top: 0;
}

.poll .header > a {
	display: block;
	float: right;
}

.poll .header h4,
.poll .header > a,
.poll .header h4 > [class^="icon-"] {
	vertical-align: baseline;
}

.poll .poll-question {
	margin-bottom: 10px;
}

.poll .poll-options {
	margin-bottom: 10px;
}

.poll .poll-options ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.poll .poll-options input[type=radio],
.poll .poll-options label {
	display: inline;
	margin: 0;
	vertical-align: middle;
}

.poll .poll-options input[type=radio] {
	margin-right: 5px;
}

.poll .poll-result {
	margin-bottom: 10px;
}

.poll .poll-result .poll-option {
	display: block;
}

.poll .poll-result .progress {
	margin: 0;
}

.poll-archives {
	margin-bottom: 20px;
	margin-top: 20px;
}