﻿@model Site.Areas.Payment.Models.ShoppingCart

<div style="font-size: 14px; line-height: 20px; background-color: #2980b9; color: #fff;font-weight: bold;padding: 4px;margin: 20px 0; width:100%">Item Details</div>
<table width="100%">
    <tr class="header">
        <th style="border-bottom: 1px solid #dddddd;border-right: 1px solid #dddddd;padding: 5px 0 5px 0; text-align: left; font-weight: bold;">Description</th>
        <th style="border-bottom: 1px solid #dddddd;border-right: 1px solid #dddddd;padding: 5px 0 5px 0; text-align: right; font-weight: bold;">Quantity</th>
        <th style="border-bottom: 1px solid #dddddd;border-right: 1px solid #dddddd;padding: 5px 0 5px 0; text-align: right; font-weight: bold;">Price</th>
    </tr>
    <tr>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
    </tr>

    @foreach (var detail in Model.Details.Values)
    {
        var evt = detail.Event;
        var info = detail.PaymentInfo;
          
        <!-- Zero Payment -->  
        if (info.AmountDueWithTax == 0)
        {
            <tr>
                <td style="font-weight: bold; border-right: 1px solid #dddddd;"><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.AmountDueWithTax.ToString("F")</td>
            </tr>
        }
        
        if (info.EventCost != 0)
        {
            <tr>
                <td style="font-weight: bold; border-right: 1px solid #dddddd;"><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.EventCost.ToString("F")</td>
            </tr>
        }
        else if (info.AmountDueWithTax != 0)
        {
            <tr>
                <td style="font-weight: bold; border-right: 1px solid #dddddd;"><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.EventCost.ToString("F")</td>
            </tr>
        }

        if (info.RegistrationFee != 0)
        {
            <tr>
                <td style="border-right: 1px solid #dddddd;">Registration Fee</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.RegistrationFee.ToString("F")</td>
            </tr>
        }
        
        if (info.AdditionalFeeForMaterials != 0)
        {
            <tr>
                <td style="border-right: 1px solid #dddddd;">Additional Fee For Materials</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.AdditionalFeeForMaterials.ToString("F")</td>
            </tr>
        }
        
        if (info.WorkshopsDiscount != 0)
        {
            <tr>
                <td style="border-right: 1px solid #dddddd;">Workshops Discount</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">1</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.WorkshopsDiscount.ToString("F")</td>
            </tr>
        }
        
        if (info.AccommodationCost != 0)
        {
            <tr>
                <td style="border-right: 1px solid #dddddd;">Accommodation</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.AccommodationDays</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.AccommodationCost.ToString("F")</td>
            </tr>
        }

        if (info.TicketCost != 0)
        {
            <tr>
                <td style="border-right: 1px solid #dddddd;">Additional Tickets</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.AdditionalTickets</td>
                <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@info.TicketCost.ToString("F")</td>
            </tr>
        }

        <tr>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        </tr>
    }

    <tr>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
    </tr>

    <!-- SUBTOTAL -->
    <tr>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td class="left-space" style="border-right: 1px solid #dddddd;padding-left: 5px!important;"><b>SUBTOTAL:</b></td>
        <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;"><b>@Model.SubTotal.ToString("F")</b></td>
    </tr>
    <!-- TAX -->
    <tr class="footer">
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td class="left-space" style="border-right: 1px solid #dddddd;padding-left: 5px!important;"><b>HST:</b></td>
        <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@Model.TotalTax.ToString("F")</td>
    </tr>
    @if (Model.Deferral != 0)
    {
        <!-- DUE -->
        <tr class="footer" style="display: table-row;vertical-align: inherit;border-color: inherit;">
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td class="left-space" style="border-right: 1px solid #dddddd;padding-left: 5px!important;"><b>DUE:</b></td>
            <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;"><b>@Model.Due.ToString("F")</b></td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        </tr>
        <!-- DEFERRAL -->
        <tr>
            <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
            <td class="left-space" style="border-right: 1px solid #dddddd;padding-left: 5px!important;">Deferral Credit:</td>
            <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;">@Model.Deferral.ToString("F")</td>
        </tr>
    }

    <!-- TOTAL TO PAY -->
    <tr>
        <td style="border-right: 1px solid #dddddd;">&nbsp;</td>
        <td class="left-space" style="border-right: 1px solid #dddddd;padding-left: 5px!important;"><b>@(Model.Deferral != 0 ? "TOTAL TO PAY" : "TOTAL"):</b></td>
        <td class="amount" style="border-right: 1px solid #dddddd;text-align: right;padding-right: 10px;"><b>@Model.TotalToPay.ToString("F")</b></td>
    </tr>
</table>