﻿@model Site.Areas.Payment.Models.ShoppingCart

<div class="receipt-title">Item Details</div>
<table class="invoice-details" width="100%">
    <tr class="header">
        <th>Description</th>
        <th class="left-space">Quantity</th>
        <th class="left-space">Price</th>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    @foreach (var detail in Model.Details.Values)
    {
        var evt = detail.Event;
        var info = detail.PaymentInfo;
          
        <!-- Zero Payment -->  
        if (info.AmountDueWithTax == 0)
        {
            <tr>
                <td><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount">1</td>
                <td class="amount">@info.AmountDueWithTax.ToString("F")</td>
            </tr>
        }
        
        if (info.EventCost != 0)
        {
            <tr>
                <td><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount">1</td>
                <td class="amount">@info.EventCost.ToString("F")</td>
            </tr>
        }
        else if (info.AmountDueWithTax != 0)
        {
            <tr>
                <td><b>@(evt.EventName) (@(evt.StartDate != null ? evt.StartDate.Value.ToString("MMMM dd, yyyy") : "") - @(evt.EndDate != null ? evt.EndDate.Value.ToString("MMMM dd, yyyy") : ""))</b></td>
                <td class="amount">1</td>
                <td class="amount">@info.EventCost.ToString("F")</td>
            </tr>
        }

        if (info.RegistrationFee != 0)
        {
            <tr>
                <td>Registration Fee</td>
                <td class="amount">1</td>
                <td class="amount">@info.RegistrationFee.ToString("F")</td>
            </tr>
        }
        
        if (info.AdditionalFeeForMaterials != 0)
        {
            <tr>
                <td>Additional Fee For Materials</td>
                <td class="amount">1</td>
                <td class="amount">@info.AdditionalFeeForMaterials.ToString("F")</td>
            </tr>
        }
        
        if (info.WorkshopsDiscount != 0)
        {
            <tr>
                <td>Workshops Discount</td>
                <td class="amount">1</td>
                <td class="amount">@info.WorkshopsDiscount.ToString("F")</td>
            </tr>
        }
        
        if (info.AccommodationCost != 0)
        {
            <tr>
                <td>Accommodation</td>
                <td class="amount">@info.AccommodationDays</td>
                <td class="amount">@info.AccommodationCost.ToString("F")</td>
            </tr>
        }

        if (info.TicketCost != 0)
        {
            <tr>
                <td>Additional Tickets</td>
                <td class="amount">@info.AdditionalTickets</td>
                <td class="amount">@info.TicketCost.ToString("F")</td>
            </tr>
        }

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    }

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <!-- SUBTOTAL -->
    <tr>
        <td>&nbsp;</td>
        <td class="left-space"><b>SUBTOTAL:</b></td>
        <td class="amount"><b>@Model.SubTotal.ToString("F")</b></td>
    </tr>
    <!-- TAX -->
    <tr class="footer">
        <td>&nbsp;</td>
        <td class="left-space"><b>HST:</b></td>
        <td class="amount">@Model.TotalTax.ToString("F")</td>
    </tr>
    @if (Model.Deferral != 0)
    {
        <!-- DUE -->
        <tr class="footer">
            <td>&nbsp;</td>
            <td class="left-space"><b>DUE:</b></td>
            <td class="amount"><b>@Model.Due.ToString("F")</b></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <!-- DEFERRAL -->
        <tr>
            <td>&nbsp;</td>
            <td class="left-space">Deferral Credit:</td>
            <td class="amount">@Model.Deferral.ToString("F")</td>
        </tr>
    }

    <!-- TOTAL TO PAY -->
    <tr>
        <td>&nbsp;</td>
        <td class="left-space"><b>@(Model.Deferral != 0 ? "TOTAL TO PAY" : "TOTAL"):</b></td>
        <td class="amount"><b>@Model.TotalToPay.ToString("F")</b></td>
    </tr>
</table>