﻿@using Site.Areas.Payment.Library
@{ 
    var expireDate = Request.Form[BillingService.MonerisResponse.ExpiryDate];
    var month = expireDate.Substring(2, 2);
    var year = expireDate.Substring(0, 2);

    var expiryFormatedDate = month + year;
}

<div class="receipt-title">Transaction Details</div>
    <table>
        <tr>
            <td><b>Transaction ID:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.ResponseOrderId]</td>
        </tr>
        <tr>
            <td><b>Transaction Type:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.TransName]</td>
        </tr>
        <tr>
            <td><b>Date and Time:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.DateStamp] @Request.Form[BillingService.MonerisResponse.TimeStamp]</td>
        </tr>
        <tr>
            <td><b>Payment Amount:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.ChargeTotal]</td>
        </tr>
        <tr>
            <td><b>Authorization Code:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.BankApprovalCode]</td>
        </tr>
        <tr>
            <td><b>Response Code:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.ResponseCode]</td>
        </tr>
        <tr>
            <td><b>ISO Code:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.IsoCode]</td>
        </tr>
        <tr>
            <td><b>Message:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.Message]</td>
        </tr>
        <tr>
            <td><b>Reference Number:</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.BankTransactionId]</td>
        </tr>
        <tr>
            <td><b>Name on the Card</b></td>
            <td>@Request.Form[BillingService.MonerisResponse.Cardholder]</td>
        </tr>
        <tr>
            <td><b>Credit Card Number:</b></td>
            @if (Model.IsAsyncRequest)
            {
                <td>@Request.Form[BillingService.MonerisResponse.CardNumberAsync]</td>
            }
            else
            {
                <td>@Request.Form[BillingService.MonerisResponse.CardNumber]</td>
            }
        </tr>
        <tr>
            <td><b>Expiry Date:</b></td>
            <td>@expiryFormatedDate</td>
        </tr>
    </table>
