﻿@using Site.Areas.Payment.Library
@model Site.Areas.Payment.Models.ShoppingCart
@{
    var expireDate = Request.Form[BillingService.MonerisResponse.ExpiryDate];
    var month = expireDate.Substring(2, 2);
    var year = expireDate.Substring(0, 2);

    var expiryFormatedDate = month + year;
}
<div style="font-size: 14px; line-height: 20px; background-color: #2980b9; color: #fff;font-weight: bold;padding: 4px;margin: 20px 0; width:100%">Transaction Details</div>
    <table>
        <tr>
            <td style="padding-bottom: 10px;">&nbsp;</td>
            <td style="padding-bottom: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Transaction ID:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.ResponseOrderId]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Transaction Type:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.TransName]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Date and Time:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.DateStamp] @Request.Form[BillingService.MonerisResponse.TimeStamp]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Payment Amount:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.ChargeTotal]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Authorization Code:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.BankApprovalCode]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Response Code:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.ResponseCode]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>ISO Code:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.IsoCode]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Message:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.Message]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Reference Number:</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.BankTransactionId]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Name on the Card</b></td>
            <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.Cardholder]</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Credit Card Number:</b></td>
            @if (Model.IsAsyncRequest)
            {
                <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.CardNumberAsync]</td>
            }
            else
            {
                <td style="padding-bottom: 10px;">@Request.Form[BillingService.MonerisResponse.CardNumber]</td>
            }
        </tr>
        <tr>
            <td style="padding-bottom: 10px;"><b>Expiry Date:</b></td>
            <td style="padding-bottom: 10px;">@expiryFormatedDate</td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px;">&nbsp;</td>
            <td style="padding-bottom: 10px;">&nbsp;</td>
        </tr>
    </table>
