﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model Site.Areas.Payment.Models.ShoppingCart
@{
    var url = Url.Action("GetReceiptPDF", "Payment", new { });
    var subtitle = Html.SnippetLiteral("CreditcardProcessed/SubTitle", "Below you will find your payment details. Please <a class=\"print-pdf\" href='{0}' target=\"_blank\">print</a> this page and keep it as your transaction receipt");
    subtitle = string.Format(subtitle, url);
}

<p>
    @(Html.Raw(subtitle))
</p>

<div class="payment">
    @Html.Partial("_TransactionDetails")

    @Html.Partial("_PaymentDetails", Model)
</div>

<script>
    $(window).unload(function ()
    {
        var url = '@(Url.Action("CleanShoppingCart", "Payment", new { }))';
        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json",
            dataType: "json",
            success: function (result)
            {

            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                etfo.info('Creditcard Payment', 'Something went wrong. Please try again or contact support.', null, null, null);
            }
        });
    });

    function goBack()
    {
        window.location.href = '@ViewBag.BackUrl';
    }
</script>