﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model dynamic

<h4>ETFO – Payment Declined</h4>

<p>@(Html.Raw(Html.SnippetLiteral("Payment_Declined", "The payment has been declined, please contact us if you continue to experience problems.")))</p>
@if (ViewBag.RegistrationId != null)
{
    <p><a href="@(Url.Action("PayNow", "Payment", new { registrationId = ViewBag.RegistrationId }))">Click here</a> if you want to try your payment again.</p>
}
