﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model dynamic

<h4>ETFO – Payment Failed</h4>

<p>@(Html.Raw(Html.SnippetLiteral("Payment_Failed", "Payment failed because the timeout has been exceeded.")))</p>
@if (ViewBag.RegistrationUrl != null)
{
    <p><a href="@(Url.Action("ShoppingCart", "Payment"))">Click here</a> to try again.</p>
}
