﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model Site.Areas.Payment.Models.ShoppingCart
@{
    var url = Url.Action("GetReceiptPDF", "Payment", new { });
    var subtitle = Html.SnippetLiteral("PayCheque/SubTitle", "Below you will find your payment details. Please <a class=\"print-pdf\" href='{0}' target=\"_blank\">print</a> a copy of this and attach to your cheque:");
    subtitle = string.Format(subtitle, url);
}

<h2>Pay by Cheque</h2>

<p>
    @(Html.Raw(Html.SnippetLiteral("Payment_By_Cheque", "Please send a cheque to: <br/> 136 Isabella Street <br/> Toronto, ON M4Y 0B5 by")))
    Put Date Here
</p>
<p>
    @(Html.Raw(Html.SnippetLiteral("PayCheque/Title", "Please make your cheque payable to The Elementary Teachers' Federation of Ontario")))
</p>
<p>
    @(Html.Raw(subtitle))
</p>

<div class="payment">
    @Html.Partial("_PaymentDetails", Model)
</div>

<br />
<p>
    <input id="btnBack" type="button" onclick='goBack();' class="btn btn-primary  pull-right" value="@Html.SnippetLiteral("Payment/GoBack", "Back")">
</p>


<script>
    $(window).unload(function ()
    {
        var url = '@(Url.Action("CleanShoppingCart", "Payment", new { }))';
        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json",
            dataType: "json",
            success: function (result)
            {
                
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                etfo.info('PayCheque', 'Something went wrong. Please try again or contact support.', null, null, null);
            }
        });
    });

    function goBack()
    {
        window.location.href = '@ViewBag.BackUrl';
    }
</script>