﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model Site.Areas.Payment.Models.ShoppingCart
@{
    var url = Url.Action("GetReceiptPDF", "Payment", new { });
    var localName = Model.Details.ElementAt(0).Value.PaymentInfo.LocalName;
    //var subtitle = Html.SnippetLiteral("PayLocal/SubTitle", "Below you will find your payment details for local <b>{0}</b>. Please <a class=\"print-pdf\" href='{1}' target=\"_blank\">print</a> a copy of this:");
    var subtitle = Html.SnippetLiteral("PayLocal/SubTitle", "Below you will find your payment details for local <b>{0}</b>.");
    subtitle = string.Format(subtitle, localName, url);
}

<p>
    @(Html.Raw(Html.SnippetLiteral("PayLocal/Title", "Charge To Local Confirmation")))
</p>
<p>
    @(Html.Raw(subtitle))
</p>

<div class="payment">
    @Html.Partial("_PaymentDetails", Model)
</div>

<br />
<p>
    <input id="btnBack" type="button" onclick='goBack();' class="btn btn-primary  pull-right" value="@Html.SnippetLiteral("Payment/GoBack", "Back")">
</p>


<script>
    $(window).unload(function ()
    {
        var url = '@(Url.Action("CleanShoppingCart", "Payment", new { }))';
        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json",
            dataType: "json",
            success: function (result)
            {
                
            },
            error: function (xhr, ajaxOptions, thrownError)
            {
                etfo.info('PayCheque', 'Something went wrong. Please try again or contact support.', null, null, null);
            }
        });
    });

    function goBack()
    {
        window.location.href = '@ViewBag.BackUrl';
    }
</script>