﻿@model Site.Areas.Payment.Models.ShoppingCart
@{
    Layout = null;
}

<html>
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title></title>
	</head>    <body style="font-family:Open Sans,Helvetica,Arial,sans-serif;color: #333333">
        <div id="content-container" class="container">
		    <div id="content">
	            <div class="row etfo-row-wrap">
		            <div class="span9 etfo-main-wrap">
		                <div class="page-heading">
                            <div class="page-header" style="padding-bottom: 9px; margin: 20px 0 30px; border-bottom: 1px solid #eeeeee;">        
                                <h1 style="font-size: 38px; line-height: 40px; color: #01305E; font-weight: normal; margin: 10px 0">
                                    ETFO – Payment Receipt
                                </h1>
	                        </div>
	                    </div>
                        @*<p style="font-size: 14px; line-height: 20px; margin-top: 20px">PDF Receipt Test</p>*@
                        <div id="receipt-container" class="payment">
                            @if (Model.CreditCard != null)
                            {
                                <div style="font-size: 14px; line-height: 20px; background-color: #2980b9; color: #fff;font-weight: bold;padding: 4px;margin: 20px 0; width:100%">Transaction Details</div>
                                <table>
                                    <tr>
                                        <td style="padding-bottom: 10px;">&nbsp;</td>
                                        <td style="padding-bottom: 10px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Transaction ID:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.TransactionID</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Transaction Type:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.TransactionType</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Date and Time:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.DateandTime</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Payment Amount:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.PaymentAmount</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Authorization Code:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.AuthorizationCode</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Response Code:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.ResponseCode</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>ISO Code:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.ISOCode</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Message:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.Message</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Reference Number:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.ReferenceNumber</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Name on the Card</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.NameOnTheCard</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Credit Card Number:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.CreditCardNumber</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;"><b>Expiry Date:</b></td>
                                        <td style="padding-bottom: 10px;">@Model.CreditCard.ExpiryDate</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 10px;">&nbsp;</td>
                                        <td style="padding-bottom: 10px;">&nbsp;</td>
                                    </tr>
                                </table>
                            }

                            @Html.Partial("_PaymentDetailsPDF", Model)
                        </div>
		            </div>
                </div>
			</div>
		</div>
    </body></html>