﻿@model Site.Areas.Payment.Models.ShoppingCart
@{
    Layout = null;
}

<html>
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title></title>
	</head>    <body style="font-family:Open Sans,Helvetica,Arial,sans-serif;color: #333333">
        <div id="content-container" class="container">
		    <div id="content">
	            <div class="row etfo-row-wrap">
		            <div class="span9 etfo-main-wrap">
		                <div class="page-heading">
                            <div class="page-header" style="padding-bottom: 9px; margin: 20px 0 30px; border-bottom: 1px solid #eeeeee;">        
                                <h1 style="font-size: 38px; line-height: 40px; color: #01305E; font-weight: normal; margin: 10px 0">
                                    ETFO – Payment Receipt
                                </h1>
	                        </div>
	                    </div>
                        @*<p style="font-size: 14px; line-height: 20px; margin-top: 20px">PDF Receipt Test</p>*@
                        <div id="receipt-container" class="payment">
                            @Html.Partial("_TransactionDetailsPDF", Model)
                            @Html.Partial("_PaymentDetailsPDF", Model)
                        </div>
		            </div>
                </div>
			</div>
		</div>
    </body></html>