﻿@using Site.Areas.Payment.Library
@model BillingService.PaymentPreloadInfo
@{
    var url = BillingService.MonerisBaseUrl + BillingService.MonerisTransactionPath;
}

<div id="moneris-data-container">
    <form id="monerisForm" method="POST" action="@(url)">
        <input type="hidden" name="hpp_id" value="@(Model.HppId)" />
        <input type="hidden" name="hpp_preload" value="" />
        <input type="hidden" name="ticket" value="@(Model.Ticket)" />

        @*<INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="SUBMIT" />*@
    </form>
</div>

<script type="text/javascript">
    $(function ()
    {
        $("#monerisForm").submit();
    });
</script>