﻿@model Site.Areas.Payment.Models.ShoppingCart

<p>Please print this page and keep it as your transaction receipt</p>

<div id="receipt-container" class="payment">
    @Html.Partial("_TransactionDetails")

    @Html.Partial("_PaymentDetails", Model)

@*    <a href="javascript:void(0);" class="k-button k-button-icontext k-grid-pdf export-pdf">
        <span class="k-icon k-i-pdf"></span>
        Export Pdf
    </a>*@
</div>

@*<!-- Operation js -->
<script src="~/js/kendo/2017.1.223/kendo.web.min.js"></script>
<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="~/js/pako_deflate.min.js"></script>
<!-- Form js -->
<script src="~/Areas/MyReports/js/coursesreceipt.js"></script>*@