﻿@using Adxstudio.Xrm.Web.Mvc.Html
@using Site.Areas.Payment.Library
@model Site.Areas.Payment.Models.ShoppingCart
@{
    var deferral = (decimal)ViewBag.Deferral;
    var totalPayment = ViewBag.TotalPayment;

    var totalEventsAmmount = (decimal)0;
    var totalEventsAmmountDue = (decimal)0;
    var isDeferral = false;// deferral > 0 && !ViewBag.DeferraPayAll;
    var isUserPaying = PaymentUtil.IsUserPayingShoppingCart;
    var hasCourses = false;
    var chequePayment = true;
    var payLater = false;
    var payLocal = false;
    var LocalName = string.Empty;
    var registrationId = (Guid?)null;
}

@if (this.Model != null && Model.Details.Any())
{
    <p>@(Html.Raw(Html.SnippetLiteral("Payment/Title", "The following list contains all the items you have added to the shopping cart. Click the trash icon to remove items from the shopping cart.")))</p>
    <table class="table">
        @{
            foreach (var detail in Model.Details.Values)
            {
                var info = detail.PaymentInfo;
                <tr>
                    <th>
                        @if (detail.Event.IsCourse)
                        {
                            @(Html.Raw(detail.Event.CourseCode + " - " + info.EventName));
                        }
                        else
                        {
                            @(Html.Raw(info.EventName));
                        }
                    </th>
                    <th></th>
                    <th class="to-right">@(Html.Raw(info.AmountDueWithTax.ToString("F")))</th>
                    <th>
                        <a class="remove-event" href="javascript:void(0);" data-delete-url="@(Url.Action("DeleteEvent", "Payment", new { id = info.RegistrationId }))">
                            <i class="fa fa-trash"></i>
                        </a>
                    </th>
                </tr>

                //Total payment ammount
                totalEventsAmmount += info.EventCost + info.AdditionalFeeForMaterials + info.RegistrationFee + info.WorkshopsDiscount;
                totalEventsAmmountDue += info.AmountDueWithTax;

                if (detail.Event.IsCourse)
                {
                    hasCourses = true;
                }

                if(chequePayment && info.IsChequeAllowed)
                {
                    if (info.ChequeDueDate != null && info.ChequeDueDate != new DateTime())
                    {
                        if (info.ChequeDueDate.Date < DateTime.Now.Date)
                        {
                            chequePayment = false;
                        }
                    }
                }
                else
                {
                    chequePayment = false;
                }
            }

            <tr>
                <th class="to-center">*  @(Html.Raw(Html.SnippetLiteral("Payment/TaxesMessage", "All amounts include taxes")))</th>
                <th class="to-right">Total:</th>
                <th class="to-right">@(Html.Raw(totalEventsAmmountDue.ToString("F")))</th>
                <th></th>
            </tr>

            //Payment method
            payLater = Model.Details.Values.ToList().TrueForAll(t => t.PaymentInfo.PayLater);
            if(Model.Details.Count() == 1 && Model.Details.Values.ToList()[0].PaymentInfo.PayLocal && Model.Details.Values.ToList()[0].PaymentInfo.LocalName != string.Empty)
            {
                payLocal = Model.Details.Values.ToList()[0].PaymentInfo.PayLocal;
                registrationId = Model.Details.Values.ToList()[0].PaymentInfo.RegistrationId;
                LocalName = Model.Details.Values.ToList()[0].PaymentInfo.LocalName;
            }

            //Deferral
            if (isDeferral && deferral > totalEventsAmmount)
            {
                deferral = totalEventsAmmount;
            }
        }
    </table>

    //var shoppingUrl = Html.SnippetLiteral("Payment/ContinueShopping", "<p>Register for other <a href=\"{0}\"> courses and events</a>, or pay now using payment options below. </p>");
    var shoppingUrl = Html.SnippetLiteral("Payment/ContinueShopping", "<p>Register for other <a href=\"{0}\"> events</a>, or pay now using payment options below. </p>");
    @(Html.Raw(string.Format(shoppingUrl, ViewBag.BackUrl)))  

    
    if (hasCourses)
    { 
        @(Html.Raw(Html.SnippetLiteral("Payment/CoursesHTML", "<p><b>Courses</b></p><p>You will <u>not</u> be registered for courses if you do not choose a payment option below and payment is successfully processed. Courses will not be held in the shopping cart after you log out</p>")))
    }

    <br />
    <div id="payment-buttons">
        @if (!isUserPaying)
        {
            //Cheque payment
            if (chequePayment)
            {
                //if (isDeferral)
                //{
                    @*<a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayCheque", "Payment"))" data-deferral-url="@(Url.Action("PayCheque", "Payment", new { doReferral = "true" }))">
                        @(Html.Raw(Html.SnippetLiteral("Payment/PayByCheque", "Pay by Cheque")))
                    </a>*@
                //}
                //else
                //{
                    <a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayCheque", "Payment", new { postUrl = ViewBag.BackUrl }))" data-method="Cheque">
                        @(Html.Raw(Html.SnippetLiteral("Payment/PayByCheque", "Pay by Cheque")))
                    </a>
                //}
            }

            //CC Payment
            //if (isDeferral)
            //{
                @*<a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayNow", "Payment"))" data-deferral-url="@(Url.Action("PayNow", "Payment", new { doReferral = "true" }))">
                    @(Html.Raw(Html.SnippetLiteral("Payment/PayByCreditCard", "Pay by Credit Card or VISA Debit")))
                </a>*@
            //}
            //else
            //{
                <a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayNow", "Payment"))" data-method="Credit Card">
                    @(Html.Raw(Html.SnippetLiteral("Payment/PayByCreditCard", "Pay by Credit Card or VISA Debit")))
                </a>
            //}
                
            //Pay Later
            if (payLater)
            {
                <a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayLater", "Payment", new { postUrl = ViewBag.BackUrl }))" data-method="Pay Later">
                    @(Html.Raw(Html.SnippetLiteral("Payment/PayLater", "Pay Later")))
                </a>
            }

            //Charge To Local
            if (payLocal)
            {
                <a class="btn btn-primary payment-option charge-to-local-option" href="javascript:void(0);" 
                   data-amount="@(Html.Raw(totalEventsAmmountDue.ToString("F")))"
                   data-local="@LocalName" 
                   data-registrationid="@registrationId" >
                    @(Html.Raw(Html.SnippetLiteral("Payment/ChargeToLocal", "Charge To Local")))
                </a>
            }


            //Deferral Payment
            //if (ViewBag.DeferraPayAll)
            //{
                @*<a class="btn btn-primary payment-option payment-option-method" href="javascript:void(0);" data-url="@(Url.Action("PayDeferral", "Payment"))">
                    @(Html.Raw(Html.SnippetLiteral("Payment/PayByDeferral", "Pay by Deferral")))
                </a>*@
            //}

            <a class="btn btn-primary payment-option" href="@ViewBag.BackUrl">
                @(Html.Raw(Html.SnippetLiteral("Payment/ContinueShopping", "Continue Shopping")))
            </a>
        }
        else
        {
            <div>
                <label>@(Html.Raw(Html.SnippetLiteral("Payment/PaymentTransactionOpen", "You are already paying another transaction, please finish it first to start a new payment")))</label>
            </div>
        }

        @if (isDeferral)
        {
            <br />
            <div>
                <label>
                    <input id="apply-deferral" type="checkbox"/> @(Html.Raw(Html.SnippetLiteral("Payment/DeferralAmount", "Apply deferral amount of"))) $@(deferral.ToString("F"))
                </label>
            </div>
        }
    </div>
}
else
{
    <h4>@(Html.Raw(Html.SnippetLiteral("Payment/ShoppingCartEmpty", "Your shopping cart is empty")))</h4>
}

@Html.Partial("_Modals")

<!-- Charge To Local Modal -->
<div class="modal fade" id="chargeToLocalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="chargetolocal-title">@(Html.Raw(Html.SnippetLiteral("Payment/ChargeToLocalDescription", "The Amount of <b>${0}</b> will be charged to the <b>{1}</b>. Please enter the payment code for this local.</ br> If this is not the correct local, click Cancel and update your registration form.")))</span>
            </div>
            <div class="modal-body" id="overlapCourses">
                <p>
                    <i class="shoppingcart-modal-error"></i>
                </p>
                <p>
                    <span>@Html.SnippetLiteral("Payment/PaymentCode", "Payment Code: ")</span>
                    <input type="text" id="payment-code" />
                    <input type="hidden" id="payment-registrationId" />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok-paylocal" data-url="@(Url.Action("PayLocal", "Payment", new { postUrl = ViewBag.BackUrl }))">Ok</button>
                <button type="button" class="btn btn-primary cancel-paylocal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ETFO/etfo.js"></script>
<script type="text/javascript">
    $(function ()
    {
        var isDeferrral = @(isDeferral.ToString().ToLower());
        var validationUrl = '@(Url.Action("ValidatePaymentAmmount", "Payment", new { vt = totalPayment }))';
        var validateLocaCodeUrl = '@(Url.Action("ValidateLocalCode", "Payment", new { }))';
        var overlapCoursesRegistrations = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/Overlap/Registrations", "You cannot pay the following course(s) due to overlapping schedules on other course(s) you are already registered:")))';
        var pendingPaymentsMessage = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/PendingPayments", "You have payments in progress. To proceed with your payment please remove the following item(s):")))';
        var inconsistentItemMessage = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/InconsistentItems", "An item was added or removed from the shopping cart or the shopping cart has expired, we need to refresh the page before you can pay.")))';
        var errorMessage = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/Error", "Something went wrong. Please try again or contact support.")))';
        var confirmPaymentMethod = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/PaymentConfirmationMessage", "You have selected \"{0}\" as your payment method. Do you want to proceed?")))';
        var invalidCodeMessage = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/invalidCodeMessage", "Please enter a valid code.")))';
        var invalidCodeError = '@(Html.Raw(Html.SnippetLiteral("ShoppingCart/invalidCodeError", "Error: The payment code you entered does no match the given local. Contact your local for a valid payment code or select another payment method.")))';

        //Remove event registration
        $(".remove-event").click(function ()
        {
            var url = $(this).data("delete-url");
            $.ajax
            ({
                type: "POST",
                url: url,
                contentType: "application/json",
                dataType: "json",
                success: function (result)
                {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    etfo.info('Shopping Cart', 'Something went wrong. Please try again or contact support.', null, null, null);
                }
            });
        });

        $(".payment-option-method").click(function ()
        {
            var item = $(this);
            var method = item.data("method");
            var question = confirmPaymentMethod.replace("{0}", method);
            etfo.confirm(question, function () { PaymentProceed(item) }, null, null, null, null);
        });

        $('#chargeToLocalModal').on('shown.bs.modal', function ()
        {
            $("#payment-code").focus();
        })  

        $(".charge-to-local-option").click(function()
        {
            var item = $(this);
            var amount = item.data("amount");
            var localName = item.data("local");
            var registrationId = item.data("registrationid");

            var infoModal = $('#chargeToLocalModal');
            var title = infoModal.find(".modal-title").html();
            var title = title.replace("{0}", amount).replace("{1}", localName);

            infoModal.find(".modal-title").html(title);

            $("#payment-code").val("");
            $("#payment-registrationId").val(registrationId);
            $(".shoppingcart-modal-error").html("");
            infoModal.modal('show');
        });

        $(".ok-paylocal").click(function ()
        {
            var item = $(this);
            var registrationId = $("#payment-registrationId").val();
            var code = $("#payment-code").val();
            if (!code)
            {
                $(".shoppingcart-modal-error").html(invalidCodeMessage);
            }
            else
            {
                $(".shoppingcart-modal-error").html("");
                var data =
                {
                    eventRegistrationId: registrationId,
                    code: code
                };

                $.ajax
                ({
                    type: "POST",
                    url: validateLocaCodeUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result)
                    {
                        if (result.Success)
                        {
                            PaymentProceed(item);
                        }
                        else
                        {
                            $(".shoppingcart-modal-error").html(invalidCodeError);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError)
                    {
                        $('#chargeToLocalModal').modal('hide');
                        etfo.info('Shopping Cart', errorMessage, null, null, null);
                    }
                });
            }
        });

        //Validate total and if true makes the payment
        function PaymentProceed(item)
        {
            $("#payment-buttons").hide();
            $.ajax
            ({
                type: "POST",
                url: validationUrl,
                contentType: "application/json",
                dataType: "json",
                success: function (result)
                {
                    if (result.Success)
                    {
                        var url = item.data("url");
                        if(isDeferrral)
                        {
                            if ($("#apply-deferral").is(":checked"))
                            {
                                url = item.data("deferral-url");
                            }
                        }
                        location.href = url;
                    }
                    else
                    {
                        $("#payment-buttons").show();
                        $("#overlapCourses ul").html("");
                        if(result.RegistrationOverlapping)
                        {
                            $("#overlapTitle").html(overlapCoursesRegistrations);
                            for (i = 0; i < result.OverlappingCourses.length; i++)
                            {
                                var course = result.OverlappingCourses[i];
                                var text = "<li>" + course.CourseTitle;
                                text += "<ul>";

                                for (j = 0; j < course.OverlappingSchedules.length; j++)
                                {
                                    var schedule = course.OverlappingSchedules[j];

                                    var startDate = new Date(schedule.StartDate);
                                    var endDate = new Date(schedule.EndDate);
                                    text += "<li>Course " + schedule.EventTitle + ": " + startDate.toString('MMM dd, yyyy') + " To " + endDate.toString('MMM dd, yyyy') + "</li>";
                                }

                                text += "</ul></li>";
                                $("#overlapCourses ul").append(text);
                            }

                            $('#overlapModal').modal('show');
                        }
                        else if(result.InvalidPayments)
                        {
                            $("#overlapTitle").html(pendingPaymentsMessage);
                            for (k = 0; k < result.PendingPayments.length; k++)
                            {
                                var event = result.PendingPayments[k];
                                $("#overlapCourses ul").append("<li>" + event.EventName + "</li>");
                            }

                            $('#overlapModal').modal('show');
                        }
                        else
                        {
                            var fn = function()
                            {
                                location.reload();
                            };
                            etfo.info('Shopping Cart', inconsistentItemMessage, null, null, fn);
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    etfo.info('Shopping Cart', errorMessage, null, null, null);
                    $("#payment-buttons").show();
                }
            });
        }

    });
</script>