﻿@using Adxstudio.Xrm.Web.Mvc.Html
@model Site.Areas.Payment.Models.ShoppingCart

@if (ViewBag.IsDeferralPayment)
{
    <p>
        @(Html.Raw(Html.SnippetLiteral("ShoppingCart/DeferralPayment", "The events have been payed with your deferral. Your new deferral amount is: $")))@(ViewBag.NewDeferral.ToString("F"))
    </p>
    <p>
        Below you will find your payment details. Please print a copy of this.
    </p>
}
else
{
    <p>
        @(Html.Raw(Html.SnippetLiteral("ShoppingCart/ZeroPayment", "The events have no payment")))
    </p>
    <p>
        Below you will find your details. Please print a copy of this.
    </p>
}        

<div class="payment">
    @Html.Partial("_PaymentDetails", Model)
</div>