﻿<style type="text/css">
    .SectionForm {
        width: 100%;
        display: block;
        color: #000;
    }

        .SectionForm label {
            font-weight: normal;
        }

    .SubSection {
        padding: 0 0 0 20px;
        width: 100%;
        display: inline-block;
    }

    .FullSectionItem {
        width: 100%;
        display: inline-block;
        clear: both;
        padding: 3px 0;
    }

    .HalfSectionItem {
        width: 45%;
        display: inline-block;
        padding: 3px 0;
    }

    .CustomSection {
        width: auto;
        display: inline-block;
        padding: 3px 0;
        float: left;
    }

    .SectionCheckbox input[type="checkbox"], .SectionCheckbox input[type="radio"] {
        margin: 0 10px 0 0;
        padding: 0;
        display: inline-block;
    }

    .SectionCheckbox label {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-block;
    }

    .SectionComboBox select {
        width: 400px;
    }

    .SectionTextArea textarea {
        width: 85%;
        resize: none;
        height: 100px;
    }

    .SectionTextArea2 textarea {
        width: 95%;
        resize: none;
        height: 100px;
        margin: 0 0 0 25px;
    }

        .SectionTextArea textarea:disabled, .SectionTextArea2 textarea:disabled {
            background-color: #EEE;
        }

    .SectionButton, .SectionTextArea, .SectionTextArea2, .SectionTextBox {
        padding: 3px 0;
    }

        .SectionButton button {
            background-color: #EEE;
            border: 1px solid black;
        }

        .SectionTextArea label, .SectionComboBox label, .SectionTextBox label {
            padding: 3px 0 0 0;
            vertical-align: top;
            width: 125px;
            display: inline-block;
        }
        .OtherTextBox {
            margin: 0 10px;
        }
</style>

<div id="attendingas" style="width: 650px; margin: 0; border: none;" class=" portlet box yellow">
    <div class="portlet-title" style="background-color: #ffb848; height: 26px; color: #FFF; padding: 8px 10px 2px 10px; border-bottom: 1px solid #eee;">
        <div class="caption" style="font-size: 18px; line-height: 18px; font-weight: 400;">
            <span>Attending As</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="SectionForm">
            <div class="FullSectionItem">
                <label data-bind="text: main.sectionMessage" style="padding: 2px 10px"></label>
            </div>
            <div class="SubSection">
                <div class="CustomSection" style="width: 300px;">
                    <div class="FullSectionItem">
                        <label style="font-weight: bold">Voting Role</label>
                    </div>
                    <div class="FullSectionItem" data-bind="foreach: main.attendingAsList">
                        <!-- ko if: (isVotingRole==true) -->
                        <div class="FullSectionItem SectionCheckbox">
                            <label style="margin: 0">
                                <input type="checkbox" data-bind="checked: isSelected, attr: { id: id }, value: id, event: { click: $parent.CustomClick }" />
                                <span data-bind="    text: name"></span>
                            </label>
                        </div>
                        <!-- /ko-->
                    </div>
                </div>
                <div class="CustomSection" style="width: 300px;">
                    <div class="FullSectionItem">
                        <label style="font-weight: bold">Non Voting Role</label>
                    </div>
                    <div class="FullSectionItem" data-bind="foreach: main.attendingAsList">
                        <!-- ko if: (isVotingRole==false) -->
                        <div class="FullSectionItem SectionCheckbox">
                            <label style="margin: 0">
                                <input type="checkbox" data-bind="checked: isSelected, attr: { id: id }, value: id, event: { click: isOther ? $parent.ShowHideOtherTextBox : '' }" />
                                <span data-bind="    text: name"></span>
                                <input class="OtherTextBox" type="text" data-bind="value: otherInput, style: { display: isOther && isSelected ? 'inline' : 'none' }, event: { blur: $parent.ValidateOtherContent }" />
                            </label>
                        </div>
                        <!-- /ko-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

