﻿<div class="portlet box data">
    <div class="portlet-title">
        <div class="caption">
            <h3 data-bind="text:main.eventName" class="title"></h3>
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="background-color: #edf3f8">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="itemTitle">
                        Date
                    </div>
                    <div>
                        <span data-bind="text: main.dateFirstPart ? main.dateFirstPart : main.eventDate"></span>
                        <!-- ko if: main.dateFirstPart -->
                        <br />
                        <span data-bind="text: main.dateSecondPart"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko if: main.eventStatus == eventOpenApplication -->
                <div class="col-md-4" data-bind="">
                    <div class="itemTitle">
                        Application Deadline
                    </div>
                    <div>
                        <span data-bind="text: main.applicationDeadLine"></span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if:(main.showEventAdminUserList || main.showEventExecutiveUserList) -->
        <div>
            <div class="row">
                <div class="col-md-1" >
                    <div class="inquiresDiv">
                        Contacts
                    </div>
                </div>
            </div>
            <!-- ko if: main.showEventAdminUserList -->
            <div>
                <div data-bind="foreach: main.eventAdminUserList" class="row">
                    <!-- ko if: (($index() % 2) ==0) -->
                    <div class="col-md-6">
                        <div>
                            <span style="margin-left: 0px" data-bind="text: fullName"></span>
                        </div>
                        <div style="width: 100%">
                            <span class="email" data-bind="text: emailAddress"></span>
                            <span class="telephoneFax" data-bind="CustomTelephone: telephoneNumber"></span>
                            <span class="telephoneFax" data-bind="CustomFax: faxeNumber"></span>
                        </div>

                    </div>
                    <!-- /ko-->
                    <!-- ko if: (($index() % 2) ==1) -->
                    <div class="col-md-6">

                        <div>
                            <span style="margin-left: 0px" data-bind="text: fullName"></span>
                        </div>
                        <div style="width: 100%">
                            <span class="email" data-bind="text: emailAddress"></span>
                            <span class="telephoneFax" data-bind="CustomTelephone: telephoneNumber"></span>
                            <span class="telephoneFax" data-bind="CustomFax: faxeNumber"></span>
                        </div>

                    </div>
                    <!-- /ko-->
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: main.showEventExecutiveUserList -->
            <div>
                <div data-bind="foreach: main.eventExecutiveUserList" class="row">
                    <!-- ko if: (($index() % 2) ==0) -->
                    <div class="col-md-6">
                        <div>
                            <span style="margin-left: 0px" data-bind="text: fullName"></span>
                        </div>
                        <div style="width: 100%">
                            <span class="email" data-bind="text: emailAddress"></span>
                            <span class="telephoneFax" data-bind="CustomTelephone: telephoneNumber"></span>
                            <span class="telephoneFax" data-bind="CustomFax: faxeNumber"></span>
                        </div>

                    </div>
                    <!-- /ko-->
                    <!-- ko if: (($index() % 2) ==1) -->
                    <div class="col-md-6">

                        <div>
                            <span style="margin-left: 0px" data-bind="text: fullName"></span>
                        </div>
                        <div style="width: 100%">
                            <span class="email" data-bind="text: emailAddress"></span>
                            <span class="telephoneFax" data-bind="CustomTelephone: telephoneNumber"></span>
                            <span class="telephoneFax" data-bind="CustomFax: faxeNumber"></span>
                        </div>

                    </div>
                    <!-- /ko-->
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko-->
    </div>
</div>


