﻿<div class="portlet box data">
    <div class="portlet-title">
        <div class="caption">
            <h3 data-bind="text:main.eventName" class="title"></h3>
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body tombstone-body" style="background-color: #edf3f8">
        <div class="row">
            <div class="col-md-4">
                <span class="details-heading">Code</span>
                <span data-bind="text: main.courseCode"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="details-heading itemTitle">
                    Topic
                </div>
                <div>
                    <span data-bind="text: main.courseTopic"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="details-heading">
                    Target Grades
                </div>
                <div>
                    <span data-bind="text: main.courseTargetGrades"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="details-heading">
                    Location
                </div>
                <div>
                    <span data-bind="text: main.courseLocation"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="details-heading itemTitle">
                    Presenter(s)
                </div>
                <div>
                    <span data-bind="text: main.coursePresenters"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="details-heading">
                    Dates Offered
                </div>
                <div>
                    <span data-bind="text: main.courseInitialOferedDate"></span>
                    <br />
                    <span data-bind="text: main.courseFinalOferedDate"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="details-heading">
                    Daily Time
                </div>
                <div>
                    <span data-bind="text: main.courseInitialDailyTime"></span>
                    <br />
                    <span data-bind="text: main.courseFinalDailyTime"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="details-heading">
                    Description
                </div>
                <div>
                    <span data-bind="text: main.courseDescription"></span>
                </div>
            </div>
        </div>
    </div>
</div>
