﻿@using Adxstudio.Xrm.Web.Mvc.Html

<!-- Basic filter -->
<div id="filter-basic-container">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/EventNameLabel", "Name: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" name="eventName" tabindex="2"/>
        </div>
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/EventStatusLabel", "Status: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <select class="kdl first form-control" name="eventStatus" tabindex="3"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/Category", "Category: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <select class="kdl first form-control" name="category" tabindex="4"></select>
        </div>
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/Subcategory", "Subcategory: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <select class="kdl first form-control" name="subcategory" tabindex="5"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/FromLabel", "From: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" name="eventStartDate" style="text-align: left" placeholder="dd/mm/yyyy" tabindex="6" />
        </div>
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/ToLabel", "To: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" name="eventEndDate" style="text-align: left" placeholder="dd/mm/yyyy" tabindex="7" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            @if (Request.Url.AbsolutePath.ToLower().IndexOf("course") == -1)
            {
                @Html.Raw(Html.SnippetLiteral("MyReports/RegStatusLabel", "Registration Status: "))
            }
            else
            {
                @Html.Raw(Html.SnippetLiteral("MyReports/AppStatusLabel", "Application Status: "))
            }
        </div>
        <div class="col-md-3 col-sm-3">
            <select class="kdl first form-control" name="registrationStatus" tabindex="8"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/FromLabel", "From: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" name="registrationStartDate" style="text-align: left" placeholder="dd/mm/yyyy" tabindex="9" />
        </div>
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-2 col-sm-2">
            @(Html.Raw(Html.SnippetLiteral("MyReports/ToLabel", "To: ")))
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" name="registrationEndDate" style="text-align: left" placeholder="dd/mm/yyyy" tabindex="10" />
        </div>
    </div>
</div>


