﻿@using Adxstudio.Xrm.Web.Mvc.Html

<div id="myresults-menu-container">
    <ul id="myresults-menu">
        <li>
            <a class="menu-eventlisting" href="@Url.Action("EventListing","MyReports")" title="Event Listing">Event Listing</a>
        </li>
        <li>
            <a class="menu-releasetimerequest" href="@Url.Action("ReleaseTimeRequest","MyReports")" title="Release Time Request">Release Time Request</a>
        </li>
        @if(ViewBag.PresidentFlag)
        {
            <li>
                <a class="menu-localdelegation" href="@Url.Action("LocalDelegation","MyReports")" title="Local Delegation">Local Delegation</a>
            </li>
        }
        <li>
            <a class="menu-myreceipts" href="javascript:void(0);">My Receipts</a>
            <ul>
                @*<li>
                    <a class="menu-mycoursereceipt" href="@Url.Action("MyCourseReceipt","MyReports")" title="My Course Receipt">My Course Receipt</a>
                </li>*@
                <li>
                    <a class="menu-myeventsreceipt" href="@Url.Action("MyEventsReceipt","MyReports")" title="My Course Receipt">My Events Receipt</a>
                </li>
            </ul>
        </li>
        @*<li>
            <a class="menu-instructors" href="javascript:void(0);">Instructors</a>
            <ul>
                <li>
                    <a class="menu-instructorcoursehistory" href="@Url.Action("InstructorCourseHistory","MyReports")" title="Instructor Course History">Instructor Course History</a>
                </li>
                <li>
                    <a class="menu-instructorcourselist" href="@Url.Action("InstructorCourseList","MyReports")" title="Instructor Course History List">Instructor Course History List</a>
                </li>
                <li>
                    <a class="menu-instructorcourselistattendance" href="@Url.Action("InstructorCourseListAttendance","MyReports")" title="Instructor Course History List Attendance">Instructor Course History List Attendance</a>
                </li>
            </ul>
        </li>*@

    </ul>
</div>

<br />

<h4 id="report-title">@ViewBag.Description</h4><br />



