﻿body#electrosurv { padding: 0 }

#electrosurv div.container {
    margin: 0px;
    width: 100%; /* this overrides bootstrap to better utilize hspace*/
}

#electrosurv #infoReviewContainer .row.ow_heading {
    font-size: 17px;
    margin-top: 24px;
    margin-bottom: 10px;
}

#electrosurv .row.ow_button_row-fluid { margin-top: 24px }

/*
infoReview container
*/

#electrosurv #infoReviewContainer .ow_label {     
/*    font-weight: 700;*/
/*   this messes up narrow displays 
     text-align: right; 
*/
 }

#electrosurv #infoReviewContainer .ow_val { font-weight: 700; }

#electrosurv #infoReviewContainer .row { margin-top: 5px }

#electrosurv #infoReviewContainer .row.ow_button {  margin-top: 32px; }


/*
survey container
*/

#electrosurv #surveyContainer > .row { margin-top: 15px }

#electrosurv #surveyContainer > .row div .row:nth-child(2) { margin-top: 5px }

#electrosurv #surveyContainer .ow_heading {
    font-size: 17px;
    margin-top: 32px
}

#electrosurv .row [class*="col-"] {
    min-height: 30px;
}

#surveyContainer .ow_label {
    font-weight: 700;
    margin-bottom: 10px
}

#surveyContainer .ow_inline label {
    display: inline-block;
    margin-right: 10px;
}


/*correct misaligned box */

/*#surveyContainer .ow_inline label input { margin-top: 0px; }
*/

#surveyContainer label > input { margin-top: -3px; }

#surveyContainer div > input { margin-top: 5px; }

#surveyContainer div > .add-on { margin-top: 5px; }

#surveyContainer #birthdayWrapper > input { width: 110px;   cursor: not-allowed;   background-color: #F4F4F4 !important; }


#electrosurv #surveyContainer .row.ow_button {  margin-top: 32px; }


/* error display */
#surveyContainer .ow_message {  display: none; }

#surveyContainer .error {
    color: red; /* match other forms */
}

#surveyContainer .select-date {
    width: 15%; 
}

#surveyContainer .error .ow_message {  display: block;padding-top: 5px;}
#surveyContainer .error .ow_message:after {  }

#surveyContainer label {
    display: block;
}

#surveyContainer input[type="number"] {
    margin-bottom: 10px;
}

#surveyContainer select {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555555;
    border-radius: 4px !important;
    vertical-align: middle;
}

#surveyContainer text {
    width: 120px;
    border: 1px solid #cccccc;
    padding: 4px 6px;
    margin-bottom: 10px;
    vertical-align: middle;
}