﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MemberSignUpComplete.ascx.cs" Inherits="Site.Areas.ETFO.Controls.MemberSignUpComplete" %>
<crm:Snippet ID="Snippet1" SnippetName="MemberSignUp/Complete" EditType="html" DefaultText="MemberSignUp/Complete" runat="server" />