﻿@using Adxstudio.Xrm.Web.Mvc.Html

<link rel="stylesheet" href="~/css/kendo/2017.1.223/kendo.common.min.css"/>
<link rel="stylesheet" href="~/css/kendo/2017.1.223/kendo.bootstrap.min.css" />

<!-- Menu -->
@Html.Partial("_Menu")

<div id="filter-container">
    <form role="form" method="post"  action="javascript:void(0);" id="filter-form">
        <h4 id="report-title"></h4>
        <div class="body">
            <div class="table">
                <!-- Common filter -->
                @Html.Partial("_BasicFilter")

                <!-- Search Button -->
                <br />
                <div class="row pull-right">
                    <div class="col-md-2 col-sm-2">
                        <button id="search-tg" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <br /><br />
            </div> 
        </div>
    </form>
</div>
<br />
<div id="results-container">
    <h4 id="search-title"></h4>
    <br />
    <div class="row">
        <div class="tk-grid">
            <div id="my-reports-grid"></div>
        </div>
    </div>
</div>

<!-- Operation js -->
<script src="~/js/kendo/2017.1.223/kendo.web.min.js"></script>
<script src="~/js/kendo/2017.1.223/cultures/kendo.culture.en-CA.min.js"></script>
<script src="~/js/jquery.form.min.js"></script>
<!-- Used to export to excel -->
<script src="~/js/jszip.min.js"></script>
<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="~/js/pako_deflate.min.js"></script>
<!-- Form js -->
<script src="~/js/ETFO/base.core.js"></script>
<script src="~/js/ETFO/ajax.update.progress.js"></script>
<script>
    // Basic filter Variables
    var urlLoadBasicStatusDropDowns = '@(Url.Action("LoadBasicStatusFilters", "MyReports", new object { }))';
    var urlLoadCategories = '@(Url.Action("LoadCategories", "MyReports", new object { }))';
    var urlLoadSubcategories = '@(Url.Action("LoadSubcategories", "MyReports", new object { }))';

    // Form Variables
    var urlSearch = '@(Url.Action("GetInstructorCourseHistory", "MyReports"))';
    var urlProxy = '@(Url.Action("KendoSave", "MyReports"))';

    $(document).ready(function ()
    {
        $("#myresults-menu").kendoMenu();
        $(".menu-instructors").addClass("k-state-selected")
        $(".menu-instructorcoursehistory").addClass("k-state-selected")
    });
</script>
<script src="~/Areas/MyReports/js/instructorCourseHistory.js"></script>
<script src="~/Areas/MyReports/js/basicfilter.js"></script>