﻿@using Adxstudio.Xrm.Web.Mvc.Html
@using Site.Areas.MyReports.Models;
@model List<MyCourseReceiptModel>

<link rel="stylesheet" href="~/css/kendo/2017.1.223/kendo.common.min.css" />
<link rel="stylesheet" href="~/css/kendo/2017.1.223/kendo.bootstrap.min.css" />

<!-- Menu -->
@Html.Partial("_Menu")

<div id="receipt-container">
    <br />
    <h4>@ViewBag.Subtitle</h4>

    <!-- User Details -->
    <div class="user-details">
        <span><b>@(Html.Raw(Html.SnippetLiteral("MyReports/MyCourseReceipt/Attendee", "Attendee:")))</b> @ViewBag.Attendee</span>
        <br />
        <span><b>@(Html.Raw(Html.SnippetLiteral("MyReports/MyCourseReceipt/Address", "Address:")))</b> @ViewBag.Address</span>
    </div>
    <br />
    <div id="results-container">
        <div class="row">
            <div class="tk-grid">
                <div class="k-header k-grid-toolbar">
                    <a href="javascript:void(0);" class="k-button k-button-icontext k-grid-excel export-xls">
                        <span class="k-icon k-i-excel"></span>
                        Export Xls
                    </a>
                </div>
                <div id="my-reports-grid"></div>
            </div>
        </div>
    </div>
</div>

<!-- Operation js -->
<script src="~/js/kendo/2017.1.223/kendo.web.min.js"></script>
<script src="~/js/kendo/2017.1.223/cultures/kendo.culture.en-CA.min.js"></script>
<script src="~/js/jquery.form.min.js"></script>
<!-- Used to export to excel -->
<script src="~/js/jszip.min.js"></script>
<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="~/js/pako_deflate.min.js"></script>
<!-- Form js -->
<script src="~/js/ETFO/base.core.js"></script>
<script src="~/js/ETFO/ajax.update.progress.js"></script>
<script src="~/Areas/MyReports/js/coursesreceipt.js"></script>
<script>
    var urlSearch = '@(Url.Action("GetCourseReceipt", "MyReports"))';
    var urlProxy = '@(Url.Action("KendoSave", "MyReports"))';

    $(function () {
        coursesreceipt.renderForm();
        $("#myresults-menu").kendoMenu();
        $(".menu-myreceipts").addClass("k-state-selected");
        $(".menu-mycoursereceipt").addClass("k-state-selected");
    });
</script>
