﻿@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(~/fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(~/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(~/fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(~/fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

/* ETFO Header */
header {
    background-color: #01305E;
    background-image: -moz-linear-gradient(top, #013F78, #01305E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#013F78), to(#01305E));
    background-image: -webkit-linear-gradient(top, #013F78, #01305E);
    background-image: -o-linear-gradient(top, #013F78, #01305E);
    background-image: linear-gradient(to bottom, #013F78, #01305E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff013F78', endColorstr='#ff01305E', GradientType=0);
    border-bottom: 8px solid #f25843;
}

header.green {
    border-bottom: 8px solid #2d6443;
}

header.red {
    border-bottom: 8px solid #f25843;
}

header.lightblue {
    border-bottom: 8px solid #2c779e;
}

header.blue {
    border-bottom: 8px solid #2b5d99;
}

header.yellow {
    border-bottom: 8px solid #fc9847;
}

header.darkpurple {
    border-bottom: 8px solid #642d3e;
}

header .masthead .page-image {
    position: absolute;
    bottom: 0;
    left: 190px;
}

header .masthead .page-image.events-home {
    background-image: url("/img/events_home_img.png");
    width: 312px;
    height: 165px;
}

header .masthead .page-image.myetfo-home {
    background-image: url("/img/my_etfo_home_img.png");
    width: 312px;
    height: 165px;
}

header .masthead h1 {
    font-size: 16px;
    position: absolute;
    top: 50px;
    right: 0px;
	width: 500px;
    color: #aaf8ff;
    font-family: "Aller",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

header .navbar-fixed-top .navbar-inner,
header .navbar-static-top .navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    *zoom: 1;
}

header .etfo-brand {
    background: url(~/img/ETFO-Logo.png) no-repeat center;
    /*padding: 40px 0 39px;*/
    margin-left: 40px;
    height: 150px;
    width: 150px;
    display: inline-block;
}

header .top-nav-container.navbar .nav > li > a.icon-etfo-accessibility {
	background: #3E8CC0 no-repeat;
	border-radius: 5px !important;
	background-image: url('../../../img/wheelchair.png');
	background-size: 27px 27px;
	width: 27px;
	height: 28px;
	overflow: hidden;
	padding: 0px;
	margin: 2px 2px;
}

header .banner-title {
	width: 100%;
}

/* ETFO Header Navigation */
.masthead.tabs .weblinks {
    position: static;
    float: right;
	bottom: 0;
}

.masthead.tabs .nav-search {
    float: right;
}

.masthead.tabs .nav-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.masthead.tabs .nav-container .weblinks li a {
	position: relative;
	bottom: 0;
}

.masthead.tabs .nav-container .weblinks span {
	font-size: 18px;
}

.masthead.tabs .container {
    min-height: 150px;
}

.masthead .top-nav-container {
    position: absolute;
    top: 4px;
    right: 10px;
}

.masthead .accessibility-controls {
	position: absolute;
	right: 0px;
	left: auto;
	top: 40px;
	padding: 15px;
	-webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
	-webkit-box-shadow: 2px 2px 2px #333333;
    -moz-box-shadow: 2px 2px 2px #333333;
    box-shadow: 2px 2px 2px #333333;
	width: 205px;
	height: auto;
}

.masthead .font-slider-label{
	float: left;
	
	padding-right: 10px;
	color: #AAF8FF;
}

.masthead .font-slider {
	width: 200px;
	float: left;
	vertical-align: middle;
	margin-top: 3px;
}


/* top navigation container elements */

header .top-nav-container.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #aaf8ff;
    text-decoration: none;
    text-shadow: none;
}

header .top-nav-container.navbar .nav .dropdown-toggle .caret {
    border-top-color: #aaf8ff;
    border-bottom-color: #aaf8ff;
    /*margin-top: 8px; Removed for loged in top account arow */ 
}

header .top-nav-container.navbar .nav li.dropdown > a:hover .caret,
header .top-nav-container.navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #aaf8ff;
    border-bottom-color: #aaf8ff;
}

header .top-nav-container.navbar .nav li.dropdown.open > .dropdown-toggle,
header .top-nav-container.navbar .nav li.dropdown.active > .dropdown-toggle,
header .top-nav-container.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #01305E;
    color: #aaf8ff;
}

header .top-nav-container.navbar .nav li .img-icon {
    margin: 8px 2px;
    border: none;
    padding: 0;
}

header .top-nav-container.navbar li.dropdown .dropdown-toggle > i{
    font-size: 18px;
}

header .top-nav-container.navbar li.dropdown .dropdown-toggle .badge {
    font-size: 11px !important;
    font-weight: 300;
    text-align: center;
    background-color: #e02222;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 4px;
    right: 24px;
    box-sizing: border-box;
    line-height: 11px;
}

header .top-nav-container.navbar a.icon-etfo-link {
    height: 19px;
    width: 18px;
    background: #3e8cc0;
    color: #01305E !important;
    font-size: 22px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 4px 5px 5px !important;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px 0 2px;
}

header .top-nav-container.navbar a.icon-etfo-link:hover,
header .top-nav-container.navbar a.icon-etfo-link:focus {
    background: #3e8cc0;
    color: #01305E;
    text-decoration: none;
}

header .top-nav-container.navbar a.icon-etfo-link.icon-etfo-contact {
    background: #c8f6fc;
    text-decoration: none;
    height: 28px;
    width: 28px;
}

header .top-nav-container.navbar a.icon-etfo-link.icon-etfo-help {
    background: #30a9f3;
    text-decoration: none;
    height: 28px;
    width: 28px;
}

header .top-nav-container.navbar a.icon-etfo-link.icon-etfo-shoppingcart {
    background: #c8f6fc;
    text-decoration: none;
    position: relative;
    width: 41px;
    text-align: left;
    height: 28px;
}
 
header .top-nav-container.navbar a.icon-etfo-link.icon-etfo-shoppingcart .shoppingcart-count {
    position: absolute;
    font-size: 11px;
    border-radius: 50% !important;
    width: 16px;
    height: 16px;
    padding: 3px 3px 3px 3px;
    background: #013B71;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 11px;
    top: -2px;
    right: -1px;
    display: block;
}

header .top-nav-container a.etfo-my-events {
    background: #31acf5;
    color: #fff !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    padding: 4px 10px !important;
    margin: 2px 5px 0 0;
}

header .top-nav-container a.etfo-my-events:hover,
header .top-nav-container a.etfo-my-events:focus {
    background: #fff;
    color: #31acf5 !important;
}

/* main header navigation */

header .nav > li > a:hover, 
header .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

header .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #aaf8ff;
    text-transform: uppercase;
}

    header .nav-tabs > li > a:hover, 
    header .nav-tabs > li > a:focus {
        border: none;
    }


header .nav-tabs > .active > a,
header .nav-tabs > .active > a:hover,
header .nav-tabs > .active > a:focus {
    color: #aaf8ff;
    background-color: #01305E;
    border: none;
    cursor: default;
}

header .nav .dropdown-toggle .caret {
    border-top-color: #aaf8ff;
    border-bottom-color: #aaf8ff;
    /*margin-top: 8px;*/
}

header .nav .dropdown-toggle:hover .caret, 
header .nav .dropdown-toggle:focus .caret {
    border-top-color: #aaf8ff;
    border-bottom-color: #aaf8ff;
}


header .nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #aaf8ff;
    border-bottom-color: #aaf8ff;
}


    /* Hor-menu from METRONIC */
header .nav-container {
    margin: 0;
    float: left;
}

header .nav-container ul.nav li a {
    font-size: 14px;
    padding: 10px 18px;
}

header .nav-container ul.nav li a span.home-lnk{
    font-size: 20px;
}

header .nav-container ul.nav li {
    position: relative;
}

    header .nav-container ul.nav li.active > a,
    header .nav-container ul.nav li.active > a:hover {
        background: #2980B9 !important;
    }

    header .nav-container ul.nav li.active .selected {
        left: 50%;
        bottom: 0;
        position: absolute;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #01305E;
        display: inline-block;
        margin: 0;
        width: 0px;
        height: 0px;
        margin-left: -7px;
        margin-bottom: -6px;
    }

    header .nav-container ul.nav li a:hover,
    header .nav-container ul.nav li a:focus {
        background: #2980B9;
    }

    /*drop-down*/
    header .nav-container .dropdown-menu {
        margin-top: 0;
        border: none;
        box-shadow: none;
        background: #013F78;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    header .nav-container .dropdown-menu li > a {
        color: #aaf8ff;
        padding: 7px 18px !important;
        margin-bottom: 1px;
    }

    header .nav-container .dropdown-menu .arrow {
        display: none;
    }

    header .nav-container .dropdown-menu li > a:hover,
    header .nav-container .dropdown-menu li:hover > a,
    header .nav-container .dropdown-menu li.active > a {
        color: #fff;
        filter: none !important;
        background: #01305E !important;
    }

    header .nav-container .nav > li > .dropdown-menu:after,
    header .nav-container .nav > li > .dropdown-menu:before {
        border-bottom: none !important;
    }


    /* custom hack to hide first menu item and divider instead of custom navigation */

    header .nav-container .dropdown-menu li:first-child,
    header .nav-container .dropdown-menu li.divider {
        display: none;
    }

/* Search component from METRONIC */
.grid-search > .search-query {
    border: 1px solid #cccccc;
    padding: 4px 14px;
    vertical-align: middle; 
    width: 220px;
}

.grid-search > .search-query:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

header .nav-container .hor-menu-search-form-toggler {
    display: inline-block;
    padding: 12px 22px 12px 22px !important;
    cursor: pointer;
    background: url(~/img/metronic/hor-menu-search.png) no-repeat center;
}

    header .nav-container .hor-menu-search-form-toggler:hover,
    header .nav-container .hor-menu-search-form-toggler:focus {
        /*opacity: 0.8;
        filter: alpha(opacity=80);*/
        background: #01305E url(~/img/metronic/hor-menu-search.png) no-repeat center;
    }

    header .nav-container .hor-menu-search-form-toggler.off {
        background: #01305E url(~/img/metronic/hor-menu-search-close.png) no-repeat center;
    }

header .nav-container a.hor-menu-search-form-toggler-close {
    display: none;
}

header .nav-container .search-form {
    top: 42px;
    right: 0px;
    padding: 8px;
    display: none;
    z-index: 999;
    position: absolute;
    background: #01305E;
}

    header .nav-container .search-form .btn {
        color: #aaf8ff;
        padding: 7px 20px;
        height: 32px;
        width: 10px;
        display: inline-block;
        background: #01305E url(~/img/metronic/search-icon.png) no-repeat center;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        header .nav-container .search-form .btn:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    header .nav-container .search-form form {
        margin-bottom: 0;
    }

        header .nav-container .search-form form input {
            background: none;
            width: 200px;
            color: #ddd;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

            header .nav-container .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
                color: #ddd;
            }
            header .nav-container .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #ddd;
            }
            header .nav-container .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #ddd;
            }
            header .nav-container .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #ddd;
            }


.form-control:-moz-placeholder {
    color: #ddd;
}
.form-control::-moz-placeholder {
    color: #ddd;
}
.form-control:-ms-input-placeholder {
    color: #ddd;
}
.form-control::-webkit-input-placeholder {
    color: #ddd;
}
.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    .form-control:focus {
        border-color: #ddd;
        outline: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
/* ETFO Footer */
footer .socialbar {
    background-color: #2980b9;
    color: #cafefb;
    margin: 20px 0;
    padding: 30px 0;
}

footer .socialbar p {
    margin: 0;
    font-size: 18px;
    margin-right: 150px;
}

footer .socialbar p span {
    font-size: 22px;
}

footer .socialbar a.social-link {
    height: 30px;
    width: 30px;
    background: #3e8cc0;
    color: #a3d2f1;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 30px !important;
    /* padding: 5px; */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    position: relative;
    bottom: 3px;
}

footer .social-link > fa {
    position: relative;
    top: 2px;
}

footer .socialbar a.social-link:hover,
footer .socialbar a.social-link:focus {
    background: #a3d2f1;
    color: #3e8cc0;
    text-decoration: none;
}

footer {
    padding-bottom: 20px;
}

/* page elements */

.breadcrumb {
    padding: 0;
    margin: 20px 0 20px 0;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.breadcrumb > li > .divider {
    color: #F5841A !important;
}

.label-control {
    display: block;
    padding-top: 5px;
}

/* mobile overrides */

.navbar .brand {
    color: #fff;
    text-shadow: none;
    float: left;
    display: block;
    padding: 6px 10px 0;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
}

.navbar-collapse .nav > li > a, 
.nav-collapse .dropdown-menu a {
    color: #fff !important;
    text-shadow: none;
}


@media (max-width: 767px) {

    header,
    footer .socialbar {
        margin-right: -20px;
        margin-left: -20px;
    }

    footer .socialbar {
        padding-right: 20px;
        padding-left: 20px;
    }

    footer .socialbar p {
        margin-right: 0;
    }

    header .navbar-fixed-top, 
    header .navbar-fixed-bottom, 
    header .navbar-static-top {
        margin-right: 0;
        margin-left: 0;
    }

    header .masthead h1 {
        display: none;
    }

    header .masterhead .page-image {
        display: none;
    }
}

.radio-list {
    list-style: none;
}

.controls .radio-list {
    margin: 0;
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
}

.my-account-section {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.my-account-section h4 {
    background-color: #f5f5f5;
    margin: 0;
    padding: 5px 10px;
}

.my-account-section-content {
    margin: 20px;
}

.my-account-section-footer {
    margin: 10px;
    text-align: right;
}


#content {
    padding-top: 0;
}


.etfo-row-wrap {
}
.etfo-sidebar-wrap {
}

.etfo-main-wrap {
}

.etfo-sidebar-container h4 {
    background-color: #d8d8d8;
    color: #4e4e4e;
    padding: 10px 10px;
    font-weight: normal;
}

.etfo-sidebar-container h5 {
    background-color: #9e9e9e;
    color: #fefefe;
    padding: 10px 10px;
    font-weight: normal;
}

.etfo-carousel-control {
    position: absolute;
    bottom: 0;
    right: 60px;
    width: 60px;
    height: 30px;
    margin-top: -20px;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background: rgba(75, 100, 112, 0.50);
    text-decoration: none;
    z-index: 100;
}

.etfo-carousel-control.left {
    position: absolute;
    bottom: 0;
    right: 90px;
}

.etfo-carousel-control.right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.playpausebutton {
    height: 30px;
    line-height:30px;
    width: 30px;
    text-align: center;
    bottom:0;
    position:absolute;
    right:60px;
    background-color:transparent;
    color:lightgray;
    background-color:rgba(75, 100, 112, 0.5);
    border:none;
    z-index: 100;
}

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #01305E;
    background: rgba(7, 36, 80, 0.75);
    padding-right: 140px;
}

.carousel-caption h4,
.carousel-caption p {
    display: inline;
}

.carousel-caption h4 {
    margin-right: 10px;
}

.my-etfo-welcome h2 {
}

.my-etfo-title h2 {
    margin-bottom: -20px;
}

.etfo-carousel-landing .carousel-inner > .item {
    background-color: #f5f5f5;
}

.etfo-carousel-landing a {
    color: #fff;
}

.etfo-carousel-landing a:hover,
.etfo-carousel-landing a:focus {
    color: #fff;
    text-decoration: underline;
}

a.etfo-carousel-control,
a.etfo-carousel-control:hover,
a.etfo-carousel-control:focus {
    text-decoration: none;
}

h1, h2, h3 {
    color: #01305E;
    font-weight: normal;
}


.etfo-home-content h2 {
    font-size: 18px;
    line-height: 24px;
}

.etfo-home-content p {
    line-height: 22px;
}

#etfo-home-bottom {
    margin-top: 30px;
}

#etfo-home-bottom .title {
    line-height: 20px;
    padding: 5px 15px;
}

#etfo-home-bottom .title.item-grey {
    background-color: #b2c4d4;
    color:#000;
    font-size:1.2em;
}

#etfo-home-bottom .body {
    padding: 5px 10px;
    font-size: 12px;
    
}

#etfo-home-bottom .table th, #etfo-home-bottom .table td {
    border:none;
    padding:5px 2px 0;
}

#etfo-home-bottom .body a {
    color:#153299;
    text-decoration:none;
}
/* sidebar */

.etfo-sidebar-container {
    /*padding: 0 40px 0 10px;*/
    margin: 20px 0;
}

/*Blog sidebar*/
.sidebar .section h3 {
    font-size: 24px;
    line-height: 40px;
}

.blog-post>h3>a  {
    font-size: 24px;
    line-height: 40px;
}


@media (min-width: 1200px) {
    .etfo-sidebar-container {
        padding: 0 30px 0 10px;
    }
}

@media (max-width: 979px) {
    .etfo-sidebar-container {
        padding: 0;
    }
}

/* my itinerary */
#MyItineraryPanel .body {
    padding: 5px 10px;
    font-size: 12px;
    
}

#MyItineraryPanel .table th, #etfo-home-bottom .table td {
    border:none;
    padding:5px 2px 0;
}

#MyItineraryPanel .title {
    line-height: 20px;
    padding: 5px 15px;
}

#MyItineraryPanel .title.item-grey {
    background-color: #b2c4d4;
    color:#000;
    font-size:1.2em;
}

#MyItineraryPanel input[type=button] {
    font-size: 14px;
}

/* end of my itinerary */

/* sidebar navigation */

/*lightpurple Blog #525DAD #424a8a
pink Documents #ED5854 #e82b26
darkteal Features #1B8F84 #13645c
purple Photos #73348D #552668
green Videos #189657 #116a3e
teal Media Room #2A97AC #207383
orange Announcements  #d36b09
darkblue Contact Us #03386E #021f3c*/

.etfo-event-nav.pre-nav {
    margin-bottom: 0;
}

.etfo-event-nav.nav-stacked > li {
    margin-bottom: 5px;
}

.etfo-event-nav.nav-stacked > li > a {
    color: #fff;
}

.etfo-event-nav.nav-stacked > li > a:hover,
.etfo-event-nav.nav-stacked > li > a:focus {
    color: #fff;
}

.etfo-event-nav.nav-stacked > li > a {
    border: none;
}

.etfo-event-nav .item-orange a {
    background-color: #F5841A;
}

.etfo-event-nav .item-orange a:hover,
.etfo-event-nav .item-orange a:focus {
    background-color: #d36b09;
}

.etfo-event-nav .item-lightpurple a {
    background-color: #525DAD;
}

.etfo-event-nav .item-lightpurple a:hover,
.etfo-event-nav .item-lightpurple a:focus {
    background-color: #424a8a;
}

.etfo-event-nav .item-darkblue a {
    background-color: #03386E;
}

.etfo-event-nav .item-darkblue a:hover,
.etfo-event-nav .item-darkblue a:focus {
    background-color: #021f3c;
}

.etfo-event-nav .item-pink a {
    background-color: #ED5854;
}

.etfo-event-nav .item-pink a:hover,
.etfo-event-nav .item-pink a:focus {
    background-color: #e82b26;
}

.etfo-event-nav .item-darkteal a {
    background-color: #1B8F84;
}

.etfo-event-nav .item-darkteal a:hover,
.event-page-children .item-darkteal a:focus {
    background-color: #13645c;
}

.etfo-event-nav .item-purple a {
    background-color: #73348D;
}

.etfo-event-nav .item-purple a:hover,
.etfo-event-nav .item-purple a:focus {
    background-color: #552668;
}

.etfo-event-nav .item-teal a {
    background-color: #2A97AC;
}

.etfo-event-nav .item-teal a:hover,
.etfo-event-nav .item-teal a:focus {
    background-color: #207383;
}

.etfo-event-nav .item-green a {
    background-color: #189657;
}

.etfo-event-nav .item-red span {
    background-color: #ed4e2a;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    color: #fff;
}

.etfo-event-nav .item-green a:hover,
.etfo-event-nav .item-green a:focus {
    background-color: #116a3e;
}

.etfo-event-nav .item-grey a {
    background-color: #B6B6B6;
}

.etfo-event-nav .item-grey a:hover,
.etfo-event-nav .item-grey a:focus {
    background-color: #9d9d9d;
}

.etfo-event-nav .item-light-grey a {
    color: #272727 !important;
    background-color: #eeeeee;
}

.etfo-event-nav .item-light-grey a:hover,
.etfo-event-nav .item-light-grey a:focus {
    color: #272727 !important;
    background-color: #c1c1c1;
}


.etfo-event-nav .item-highlight {
    font-weight: bold;
}

.etfo-event-nav .item-link a {
    color: #272727 !important;
    background-color: #ffffff;
}

.etfo-event-nav .item-link a:hover,
.etfo-event-nav .item-link a:focus {
    color: #272727 !important;
    background-color: #eeeeee;
}



/* Landing Page */

.etfo-announcement-list ul,
.etfo-blog-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.etfo-announcement-list .footer,
.etfo-blog-list .footer {
    text-align: right;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}

.etfo-blog-list h2 {
    
}

.etfo-announcement-item,
.etfo-blog-item {
    margin-bottom: 20px;
}

.etfo-announcement-item h3,
.etfo-blog-item h3 {
    line-height: normal;
    font-size: 20px;
    margin: 0;
}

.etfo-blog-item .blog-image {
    float: left;
    width: 160px;
    position: relative;
    background-color: #f5f5f5;
    margin-bottom:10px;
    margin-right:30px;
}

.etfo-blog-item .blog-image .blog-image-title {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    background-color: #2980b9;
    color: #fff;
    padding: 3px 5px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    float:left;
}

/*added items for blog post page*/
.blog-image {
    float: left;
    width: 160px;
    position: relative;
    background-color: #f5f5f5;
    margin-bottom:10px;
    margin-right:30px;
}
.blog-image-title {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    background-color: #2980b9;
    color: #fff;
    padding: 3px 5px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    float:left;
}

.blog-title-fade {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: -o-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -moz-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -webkit-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -ms-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: linear-gradient(to right, transparent 0%, #2980b9 75%);
}

/*end of new content*/

.etfo-blog-item .blog-image .blog-title-fade {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: -o-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -moz-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -webkit-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: -ms-linear-gradient(right, transparent 0%, #2980b9 75%);
    background-image: linear-gradient(to right, transparent 0%, #2980b9 75%);
}

.etfo-blog-item .blog-content {
    margin-left: 0px;
}

.etfo-blog-item .blog-date-comment {
    font-size: 90%;
    margin: 5px 0;
}

.etfo-blog-item .blog-date i {
    margin-right: 5px;
}

.blognewssummary p {
    display:inline;
}

.blognewssummary .blogsummaryreadmore {
    margin-left:10px;
}

.etfo-blog-item a.blog-comment {
    margin-left: 20px;
    text-decoration: none;
}

.etfo-blog-item a.blog-comment:hover,
.etfo-blog-item a.blog-comment:focus {
    text-decoration: none;
}


.etfo-blog-item .blog-readmore {
    color: #fff;
    text-shadow: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #2980b9, #2472a4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2980b9), to(#2472a4));
    background-image: -webkit-linear-gradient(top, #2980b9, #2472a4);
    background-image: -o-linear-gradient(top, #2980b9, #2472a4);
    background-image: linear-gradient(to bottom, #2980b9, #2472a4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2980b9', endColorstr='#ff2472a4', GradientType=0);
    *background-color: #2472a4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: none;
}

.etfo-blog-item .blog-readmore:hover, 
.etfo-blog-item .blog-readmore:focus, 
.etfo-blog-item .blog-readmore:active, 
.etfo-blog-item .blog-readmore.active, 
.etfo-blog-item .blog-readmore.disabled, 
.etfo-blog-item .blog-readmore[disabled] {
    color: #fff;
    background-color: #2472a4;
    *background-color: #2472a4;
}


@media (max-width: 767px) {
    .etfo-blog-item .blog-image {
        float: none;
        width: auto;
        margin-bottom: 10px;
    }

    .etfo-blog-item .blog-content {
        margin-left: 0;
    }
}

/*** Phot Gallery ***/
#event-image-box {
    margin-bottom: 30px;
}
.caption {
    color: blue
}
.span2.photogallery {
    margin-bottom: 30px;
    width: 27.893617021276595%;
    *width: 27.840425531914894%;
}

/* Sign In Page */

div.shaded, div.shaded-darker {
	overflow: hidden;
}

.signin-container form {
	margin: 0px;
}

.signin-container col-md-6 {
	padding-right: 10px;
}

.signup-addition-container {
	height: 100%;
}

.signin-addition-actions {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#login-form .form-control {
    width: 220px;
}

#login-form .form-actions.signin-addition-actions {
    padding-left: 175px;
}


/* accessibility */
/*li.accessibility {
	position: relative;
}*/

.navbar .nav > li.accessibility > .dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  right: 5px;
	left: auto;
  position: absolute;
  top: -7px;
}

.navbar .nav > li.accessibility > .dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  right: 6px;
	left: auto;
  position: absolute;
  top: -6px;
}

.accessibility-close {
	position: absolute;
	top: -2px;
	right: 2px;
	cursor: pointer;
}

.font-resizer {
	position: absolute;
	right: 25px;
	top: 5px;
}

.font-resizer div, .font-resizer a {
	float: left;
	
}

.increase-font, .decrease-font {
	font-weight: bold;
	vertical-align: text-bottom;
	width: 22px;
	height: 20px;
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px 10px;
	cursor: pointer;
	text-align: center;
}

.increase-font:hover, 
.increase-font:active,
.decrease-font:hover, 
.decrease-font:active {
	text-decoration: none;
}

.increase-font {
	font-size: 1em;
}

.decrease-font {
	font-size: 0.75em;
}

.accessibility-controls .font-slider-label{
	float: left;
	
	padding-right: 10px;
	color: #AAF8FF;
}

.accessibility-controls .font-slider {
	width: 75px;
	float: left;
	vertical-align: middle;
	margin-top: 12px;
}

.accessibility-controls .ui-state-hover, 
.accessibility-controls .ui-widget-content .ui-state-hover, 
.accessibility-controls .ui-widget-header .ui-state-hover, 
.accessibility-controls .ui-state-focus, 
.accessibility-controls .ui-widget-content .ui-state-focus, 
.accessibility-controls .ui-widget-header .ui-state-focus {
  background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
  border: 1px solid #999999;
  color: #212121;
  font-weight: normal;
}

.accessibility-controls .ui-slider .ui-slider-handle {
  cursor: default;
  height: 0.5em;
  position: absolute;
  width: 0.5em;
  z-index: 2;
	margin-left: -3px;
}

.accessibility-controls .ui-slider-horizontal {
  height: 0px;
}

.accessibility-controls .auto-links-container {
  max-width: 250px;
}

.accessibility-controls .auto-links-title {
  display: inline;
}

.accessibility-controls .auto-links {
  display: inline;
}

.accessibility-controls .auto-links>a {
  margin-right: 5px;
}

/* jq grid overrides */
.container .ui-jqgrid .ui-jqgrid-view {
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;

}

.container .ui-jqgrid tr.jqgrow td {
   height: 24px  
} 


/* quick fix to blog search bar and icon*/
#MainContent_MainContent_SidebarContent_QueryText {
       width: 66% !important; /* metronic uses important too and clobers it*/
   }

#ContentContainer_MainContent_SidebarContent_SearchButton{
    line-height: 16px;
    background-color: #2187D2;
    color: white;
}

.payment .receipt-title {
    background-color: #2980b9;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    margin: 10px 0;
}

.payment th {
    text-align: left;
}

.payment th.header-amount {
    text-align: right;
    width: 25%;
}

.payment .amount {
    text-align: right;
    padding-right: 10px;
}

.photogallery a.thumbnail .description p {
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

p.registration-submit-message {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}


/* My reports form override */
#filter-form .form-control 
{
    margin-bottom:10px;
    color:#555555;
    vertical-align:middle;
    width: 220px;
}

#filter-form .k-picker-wrap 
{
    margin-bottom:10px;
    color:#555555;
    vertical-align:middle;
    width: 192px;
}

#filter-form .k-datepicker
{
    background-color: white;
}

#filter-form .k-picker-wrap 
{
    margin-bottom: 10px;
    color: #555555;
    vertical-align: middle;
    width: 192px;
}

.event-detail-title 
{
    text-transform: uppercase;
    text-decoration: underline;
}

.selfIdent-lgbt {
    margin-left: 0 !important;
}

.table .to-right
{
    text-align: right !important;
}

.table .to-center
{
    font-weight: normal !important;
    text-align: center !important;
}

.hidden-desktop {
    display: none!important;
}

/* Internal etfo.css files */
input[type="submit"].btn-signin {
	width: 220px;
}

.signup-registertext > div {
	text-align: justify;
	width: 95%;
	padding: 0 10%;
}

.form-horizontal div.signin-actions {
	text-align: left;
	padding-left: 10%;
	width: 460px;
}

.events-list.form-group {
    margin-bottom: 0; 
}

select.select
{
    display: inline-block;
    padding: 4px;
    margin-bottom: 10px;
    color: #555555;
    vertical-align: middle;
}

.events-list label {
    padding-left: 0;
}

#myAccountTabGroup li.active > a {
    border-bottom-color: transparent;
}

#ContentContainer_MainContent_ContentBottom_selfIdentPanel .row {
    margin-left: 0px;
}

#NonMemberBirthdayWrapper > span {
    float: left;
    width: auto;
}   

#birthdayWrapper > span {
    float: left;
    width: auto;
}   

#birthdayWrapper > span > i {
    color: black;
}  

#send-verification .form-actions {
    padding-left: 160px;
}

#ContentContainer_MainContent_ContentBottom_SchoolBoardList table.gridview td {
  border: 1px solid #6699cc;
}

.SchoolBoardList td, 
.SchoolBoardList th{
    padding: 2px 5px;
}
.shoppingcart-modal-error {
    color: red;
}

.error-detail {
    font-size: 12px;
    font-style: italic;
}