﻿/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.portlet > .portlet-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 8px; 
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.blue > .portlet-title > .caption,
.portlet.green > .portlet-title > .caption, 
.portlet.yellow > .portlet-title > .caption,
.portlet.red > .portlet-title > .caption, 
.portlet.purple > .portlet-title > .caption, 
.portlet.grey > .portlet-title > .caption {
  color: #fff;
}

.portlet.box.blue > .portlet-title > .caption > i, 
.portlet.box.green > .portlet-title > .caption > i,
.portlet.box.grey > .portlet-title > .caption > i,
.portlet.box.yellow > .portlet-title > .caption > i, 
.portlet.box.red > .portlet-title > .caption > i,  
.portlet.box.purple > .portlet-title > .caption > i, 
.portlet.box.light-grey > .portlet-title > .caption > i{
  color: #fff;
}

.sortable .portlet > .portlet-title {
  cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #000 !important;
}

            .portlet > .portlet-title > .tools > a.remove {
                margin-bottom: 2px;
                /*background-image:url(../img/portlet-remove-icon.png);*/
                background-image: url(~/Areas/ETFO/Resources/sidebar_menu_arrow.png);
                background-repeat: no-repeat;
                width: 11px;
            }

            .portlet > .portlet-title > .tools > a.config {
                margin-bottom: 2px;
                /*background-image:url(../img/portlet-config-icon.png);*/
                background-image: url(~/Areas/ETFO/Resources/portlet_config_icon.png);
                background-repeat: no-repeat;
                width: 12px;
            }

            .portlet > .portlet-title > .tools > a.reload {
                margin-bottom: 2px;
                /*background-image:url(../img/portlet-reload-icon.png);*/
                background-image: url(~/Areas/ETFO/Resources/portlet_reload_icon.png);
                width: 13px;
            }

            .portlet > .portlet-title > .tools > a.expand {
                margin-bottom: 2px;
                /*background-image:url(../img/portlet-expand-icon.png);*/
                background-image: url(~/Areas/ETFO/Resources/portlet_expand_icon.png);
                width: 14px;
            }

            .portlet > .portlet-title > .tools > a.collapse {
                margin-bottom: 2px;
                /*background-image:url(../img/portlet-collapse-icon.png);*/
                background-image: url(~/Areas/ETFO/Resources/portlet_collapse_icon_white.png);
                width: 14px;
            }

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
  margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn {
  padding: 4px 10px;
  margin-top: -14px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet > .portlet-title > .actions > .btn.btn-sm {
  padding: 3px 8px;
  margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn-sm {
  padding: 3px 8px;
  margin-top: -1px;
}

.portlet > .portlet-title > .pagination.pagination-sm {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -4px;
}

@media (max-width: 767px) { 
  .portlet > .portlet-title > .actions.btn-set > .btn-group,
  .portlet > .portlet-title > .actions.btn-set > .btn {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.portlet > .portlet-body {
  clear: both;  
  padding: 0;  
}

.portlet > .portlet-empty {
  min-height: 125px; 
}

.portlet > .portlet-body.light-blue, .portlet.light-blue {
  background-color: #bfd5fa  !important;
}

.portlet > .portlet-body.blue, .portlet.blue {
  background-color: #4b8df8 !important;
}

.portlet > .portlet-body.red, .portlet.red {
  background-color: #e02222 !important;
}

.portlet > .portlet-body.yellow, .portlet.yellow {
  background-color: #ffb848 !important;
}

.portlet > .portlet-body.green, .portlet.green {
  background-color: #35aa47 !important;
}

.portlet > .portlet-body.purple, .portlet.purple {
  background-color: #852b99 !important;
}

.portlet > .portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet > .portlet-body.grey, .portlet.grey {
  background-color: #555555 !important;
}

/*  draggable girds */

.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 100% !important; 
}
  
.ui-sortable-placeholder * { 
  visibility: hidden; 
}

.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  /* float: left;*/
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
  visibility:hidden;
}

/***
Solid colored portlet
***/
.portlet.solid {
  padding: 10px;
}

.portlet.solid > .portlet-title > .tools {
  margin-top: 2px;
  border: 0px;
}

.portlet.solid > .portlet-title {
  margin-bottom: 5px;
  border: 0px;
}

.portlet.solid.bordered > .portlet-title {
  margin-bottom: 15px;
}

.portlet.solid.red > .portlet-title,
.portlet.solid.red > .portlet-title > .caption > i,
.portlet.solid.red > .portlet-body,

.portlet.solid.green > .portlet-title,
.portlet.solid.green > .portlet-title > .caption > i,
.portlet.solid.green > .portlet-body,

.portlet.solid.yellow > .portlet-title,
.portlet.solid.yellow > .portlet-title > .caption > i,
.portlet.solid.yellow > .portlet-body,

.portlet.solid.grey > .portlet-title,
.portlet.solid.grey > .portlet-title > .caption > i,
.portlet.solid.grey > .portlet-body,

.portlet.solid.purple > .portlet-title,
.portlet.solid.purple > .portlet-title > .caption > i,
.portlet.solid.purple > .portlet-body,

.portlet.solid.blue > .portlet-title,
.portlet.solid.blue > .portlet-title > .caption > i,
.portlet.solid.blue > .portlet-body {
  border: 0;
  color: #fff;
}

.portlet.bordered {
  border-left: 2px solid #ddd;
}

/***
Box portlet
***/

.portlet.box {
   padding:0px !important
}

.portlet.box > .portlet-title {  
   padding:8px 10px 2px 10px;
   border-bottom: 1px solid #eee;
   color: #fff !important;
}

.portlet.box > .portlet-title > .tools {
  margin-top: 3px;
}

                    .portlet.box > .portlet-title > .tools > a.remove,
                    .portlet.solid > .portlet-title > .tools > a.remove {
                        /*background-image:url(../img/portlet-remove-icon-white.png);*/
                        background-image: url(~/Areas/ETFO/Resources/portlet_remove_icon_white.png);
                    }

                    .portlet.box > .portlet-title > .tools > a.config,
                    .portlet.solid > .portlet-title > .tools > a.config {
                        /*background-image:url(../img/portlet-config-icon-white.png);*/
                        background-image: url(~/Areas/ETFO/Resources/portlet_config_icon_white.png);
                    }

                    .portlet.box > .portlet-title > .tools > a.reload,
                    .portlet.solid > .portlet-title > .tools > a.reload {
                        /*background-image:url(../img/portlet-reload-icon-white.png);*/
                        background-image: url(~/Areas/ETFO/Resources/portlet_reload_icon_white.png);
                    }

                    .portlet.box > .portlet-title > .tools > a.expand,
                    .portlet.solid > .portlet-title > .tools > a.expand {
                        /*background-image:url(../img/portlet-expand-icon-white.png);*/
                        background-image: url(~/Areas/ETFO/Resources/portlet_expand_icon_white.png);
                    }

                    .portlet.box > .portlet-title > .tools > a.collapse,
                    .portlet.solid > .portlet-title > .tools > a.collapse {
                        /*background-image:url(../img/portlet-collapse-icon-white.png);*/
                        background-image: url(~/Areas/ETFO/Resources/portlet_collapse_icon_white.png);
                    }

/* portlet buttons */
.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet.box > .portlet-title {  
  margin-bottom: 0px;
}

.portlet.box.blue > .portlet-title {
  background-color: #4b8df8;
} 

.portlet.box.blue {  
   border: 1px solid #b4cef8;
   border-top: 0;
}

.portlet.box.red > .portlet-title {
  background-color: #e02222;
} 

.portlet.box.red {  
   border: 1px solid #ef8476;
   border-top: 0;
}

.portlet.box.yellow > .portlet-title {
  background-color: #ffb848;
} 

.portlet.box.yellow {  
   border: 1px solid #fccb7e;
   border-top: 0;
}

.portlet.box.green > .portlet-title {
  background-color: #35aa47;
} 

.portlet.box.green {  
   border: 1px solid #77e588;
   border-top: 0;
}

.portlet.box.purple > .portlet-title {
  background-color: #852b99;
} 

.portlet.box.purple {  
   border: 1px solid #af5cc1;
   border-top: 0;
}

.portlet.box.grey > .portlet-title {
  background-color: #555555;
} 

.portlet.box.grey {  
   border: 1px solid #9d9c9c;
   border-top: 0;
}

.portlet.box.light-grey > .portlet-title {
  background-color: #aaa;
} 

.portlet.box.light-grey {  
   border: 1px solid #bbb;
   border-top: 0;
}