﻿<%@ Master Language="C#" MasterPageFile="~/MasterPages/MvcWebFormsContent.master" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewMasterPage" %>

<asp:Content ContentPlaceHolderID="Title" runat="server">
	<%= ViewBag.Title ?? "Home" %>
</asp:Content>

<asp:Content ContentPlaceHolderID="Head" runat="server">
	<asp:ContentPlaceHolder ID="Head" runat="server"/>
</asp:Content>

<asp:Content ID="PageHeader" ContentPlaceHolderID="PageHeader" runat="server">
    <div class="page-header">        
        <h1><%= ViewBag.Title ?? "Pay the Event" %></h1>
	</div>
</asp:Content>

<asp:Content ID="MainContentC" ContentPlaceHolderID="MainContent" runat="server">
     <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
</asp:Content>

<asp:Content ID="Breadcrumbs" ContentPlaceHolderID="Breadcrumbs" runat="server">
	<ul class="breadcrumb">
	    <li><a href="/">Home</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
        <li class="active"><%= ViewBag.Breadcrumb ?? "Payment" %></li>
    </ul>
</asp:Content>

<asp:Content ID="SidebarAbove" ContentPlaceHolderID="SidebarAbove" runat="server">
    <asp:PlaceHolder ID="EventListButtons" runat="server">
        <ul class="etfo-event-nav pre-nav nav nav-tabs nav-stacked">
            <li class="item-purple">
                <asp:HyperLink runat="server" ID="HyperLinkUpcoming" Text="<%$ Snippet: Upcoming Events Label, Upcoming Events %>" NavigateUrl="/upcoming-events"></asp:HyperLink>
            </li>
            <li class="item-pink">
                <asp:HyperLink runat="server" ID="HyperLinkHistorical" Text="<%$ Snippet: Historical Events Label, Historical Events %>" NavigateUrl="/historical-events"></asp:HyperLink>
            </li>
        </ul>
    </asp:PlaceHolder>
</asp:Content>

<asp:Content ID="SidebarBottom" ContentPlaceHolderID="SidebarBottom" runat="server">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ETFOnews" data-widget-id="392320152093458432">Tweets by @ETFOnews</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</asp:Content>

<asp:Content ID="SidebarBelow" ContentPlaceHolderID="SidebarBelow" runat="server">
    <adx:AdPlacement ID="AdPlacement" runat="server" PlacementName="Sidebar Bottom" CssClass="ad" />
</asp:Content>

<asp:Content ID="Scripts" ContentPlaceHolderID="Scripts" runat="server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"/>
</asp:Content>