﻿<%@ Master Language="C#" MasterPageFile="~/MasterPages/WebForms.master" AutoEventWireup="true" CodeBehind="Profile.master.cs" Inherits="Site.MasterPages.Profile" %>
<%@ Import Namespace="System.Web.Mvc.Html" %>
<%@ Import namespace="Adxstudio.Xrm.Web.Mvc.Html" %>

<asp:Content ContentPlaceHolderID="Head" runat="server">
	<asp:ContentPlaceHolder ID="Head" runat="server"/>
</asp:Content>

<%--<asp:Content ContentPlaceHolderID="Breadcrumbs" runat="server">
	<asp:ContentPlaceHolder ID="Breadcrumbs" runat="server">
		<% Html.RenderPartial("Breadcrumbs"); %>
	</asp:ContentPlaceHolder>
</asp:Content>--%>

<%--<asp:Content ContentPlaceHolderID="PageHeader" runat="server">
	<asp:ContentPlaceHolder ID="PageHeader" runat="server">
		<crm:CrmEntityDataSource ID="CurrentEntity" DataItem="<%$ CrmSiteMap: Current %>" runat="server" />
		<div class="page-header">
			<h1>
				<adx:Property DataSourceID="CurrentEntity" PropertyName="adx_title,adx_name" EditType="text" runat="server" />
			</h1>
		</div>
		<div class="notifications"></div>
	</asp:ContentPlaceHolder>
</asp:Content>--%>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
	<div class="row etfo-row-wrap">
        <div class="col-md-12 col-sm-12 etfo-main-wrap">
		    <div class="page-heading">
		        <asp:ContentPlaceHolder ID="Breadcrumbs" runat="server">
			        <% Html.RenderPartial("ETFOBreadcrumbs"); %>
		        </asp:ContentPlaceHolder>
                <crm:CrmEntityDataSource ID="CurrentEntity" DataItem="<%$ CrmSiteMap: Current %>" runat="server" />
                <crm:CrmEntityDataSource ID="CustomEntity" runat="server" />
		        <asp:ContentPlaceHolder ID="PageHeader" runat="server">
			        <div class="page-header">
				        <h1>
					        <crm:Property ID="Property1" DataSourceID="CurrentEntity" PropertyName="Adx_Title,Adx_name" EditType="text" runat="server" />
				        </h1>
			        </div>
		        </asp:ContentPlaceHolder>
	        </div>        
        </div>
		<div class="col-md-4">
			<div class="well">
				<a href="https://en.gravatar.com/"><img src="<%: Url.UserImageUrl(Contact) %>" alt="" /></a>
				&nbsp;
				<%: Html.AttributeLiteral(Html.PortalUser(), "fullname") %>
			</div>
			<%: Html.WebLinks("Profile Navigation", showDescriptions: false, listCssClass: "nav nav-tabs nav-stacked", currentSiteMapNodeCssClass: "active", maximumWebLinkChildDepth: 1) %>
		</div>
		<div class="col-md-8">
			<asp:ContentPlaceHolder ID="MainContent" runat="server">
				<%: Html.HtmlAttribute("adx_copy", cssClass: "page-copy") %>
				<% Html.RenderPartial("ProfileMessage", Request["Message"] ?? string.Empty); %>
				<% if (OwinEnabled && EmailConfirmationEnabled && !IsEmailConfirmed) { %>
					<div class="alert alert-info clearfix">
						<div class="pull-right">
							<a class="btn btn-info btn-xs" href="<%: Url.Action("ConfirmEmailRequest", "Manage", new { area = "Account", region = Region }) %>">
								<span class="fa fa-envelope-o" aria-hidden="true"></span> <%: Html.SnippetLiteral("Profile/Alert/ConfirmEmailButtonText", "Confirm Email") %>
							</a>
						</div>
						<span class="fa fa-exclamation-circle" aria-hidden="true"></span> <%: Html.TextSnippet("Profile/EmailConfirmation/WarningText", defaultValue: "Your email requires confirmation.", tagName: "span") %>
					</div>
				<% } %>
				<asp:ContentPlaceHolder ID="EntityControls" runat="server" ViewStateMode="Enabled">
					<script type="text/javascript">
						function entityFormClientValidate() {
							// Custom client side validation. Method is called by the submit button's onclick event.
							// Must return true or false. Returning false will prevent the form from submitting.
							return true;
						}
						
						function webFormClientValidate() {
							// Custom client side validation. Method is called by the next/submit button's onclick event.
							// Must return true or false. Returning false will prevent the form from submitting.
							return true;
						}
					</script>
					<adx:WebForm ID="WebFormControl" runat="server" FormCssClass="crmEntityFormView" PreviousButtonCssClass="btn btn-default" NextButtonCssClass="btn btn-primary" SubmitButtonCssClass="btn btn-primary" ClientIDMode="Static" LanguageCode="<%$ SiteSetting: Language Code, 0 %>" PortalName="<%$ SiteSetting: Language Code %>" />
					<adx:EntityForm ID="EntityFormControl" runat="server" FormCssClass="crmEntityFormView" PreviousButtonCssClass="btn btn-default" NextButtonCssClass="btn btn-primary" SubmitButtonCssClass="btn btn-primary" ClientIDMode="Static" LanguageCode="<%$ SiteSetting: Language Code, 0 %>" PortalName="<%$ SiteSetting: Language Code %>" />
					<adx:EntityList ID="EntityListControl" runat="server" ListCssClass="table table-striped" DefaultEmptyListText="There are no items to display." ClientIDMode="Static" LanguageCode="<%$ SiteSetting: Language Code, 0 %>" PortalName="<%$ SiteSetting: Language Code %>" />
				</asp:ContentPlaceHolder>
				<asp:ContentPlaceHolder ID="ContentBottom" runat="server"/>
			</asp:ContentPlaceHolder>
		</div>
	</div>
</asp:Content>

<asp:Content ContentPlaceHolderID="Scripts" runat="server">
	<asp:ContentPlaceHolder ID="Scripts" runat="server"/>
</asp:Content>
