﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/WebFormsContent.master" AutoEventWireup="true" CodeBehind="CategoryRedirect.aspx.cs" Inherits="Site.Areas.ETFO.Pages.CategoryRedirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Breadcrumbs" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageHeader" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="EntityControls" runat="server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="ContentBottom" runat="server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="SidebarContent" runat="server">
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="SidebarAbove" runat="server">
</asp:Content>
<asp:Content ID="Content9" ContentPlaceHolderID="SidebarTop" runat="server">
</asp:Content>
<asp:Content ID="Content10" ContentPlaceHolderID="SidebarBottom" runat="server">
</asp:Content>
<asp:Content ID="Content11" ContentPlaceHolderID="SidebarBelow" runat="server">
</asp:Content>
<asp:Content ID="Content12" ContentPlaceHolderID="Scripts" runat="server">
</asp:Content>
