﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/Default.master" AutoEventWireup="true" CodeBehind="User_MyItenary.aspx.cs" Inherits="Site.Areas.ETFO.Pages.User_MyItenary" %>


<%@ Import Namespace="Adxstudio.Xrm.Blogs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">

    
    <!-- ace settings handler -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    
    
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>