﻿@*Contents of the Information Review Container*@

@using System.Web.Mvc.Html
@using Adxstudio.Xrm.Web.Mvc.Html
@using Xrm
@model Account
@{ var account = Model; }


<div class="row">
    <div class="col-md-12">
        @(String.Format(Html.SnippetLiteral("ElectronicSurvey/Introduction", "Please ensure that our identification is correct. If you need to make corrections, please use 'Correct this information' button.")))
    </div>
</div>
@*Information correction*@
<div class="row ow_heading">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <p >Personal Info</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">First Name</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.oems_FirstName</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Last Name</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.oems_LastName</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Birthday</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@String.Format("{0:d MMMM yyyy}",account.oems_Birthday)</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Phone</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.Telephone1</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Email</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.EMailAddress1</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Prefered Schoolboard/<br/>School/Local</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@ViewBag.preferredSchoolBoardLocal</div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Self Identification</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@Html.Raw( (bool)ViewBag.selfIdentified ? 
        Html.SnippetLiteral("ElectronicSurvey/SelfIdentOnFile", "You can modify self identification information in My Account section")
        :
        Html.SnippetLiteral("ElectronicSurvey/SelfIdentNotOnFile", "We have no self identification information on file")
        )
    </div>
</div>

<div class="row ow_heading">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <p >Home Address/Contact</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Address 1</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.Address1_Line1</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Address 2</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.Address1_Line2</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">City</div>
    <div class="col-md-9 col-sm-9 col-xs-12 ow_val">@account.Address1_City</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Province</div>
    <div class="col-md-3 col-sm-3 col-xs-12 ow_val">@account.Address1_StateOrProvince</div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 ow_label">Postal</div>
    <div class="col-md-3 col-sm-3 col-xs-12 ow_val">@account.Address1_PostalCode</div>
</div>
<div class="row  row ow_button">
    <a id="correctButton" class="col-md-3 col-sm-3 col-xs-12 btn "  target="_parent" href="/my/member-profile/#tab1">Correct this information</a>
    <button id="continueButton" class="col-md-3 col-sm-3 col-xs-12 btn btn-primary ">Continue to Survey</button>
</div>