﻿@using System
@using Adxstudio.Xrm.Web.Mvc.Html
@using Microsoft.Xrm.Sdk
@using Site.Areas.ElectronicSurvey.Controllers
@using log4net

@* ReSharper disable InconsistentNaming *@
@helper cB(string name, string label)
{
    <label>
        @{ var isChecked = ((Entity) ViewBag.Survey).GetAttributeValue<bool>("oems_" + name);}
        <input type="checkbox" name="@name" @(isChecked ? "checked" : "")>
        @(label) 
    </label>
}

@helper clearingCB(string name, string label)
{
    <label>
        @{ var isChecked = ((Entity) ViewBag.Survey).GetAttributeValue<bool>("oems_" + name);}
        <input class="ow_clearing_cb" name="@name" type="checkbox" @(isChecked ? "checked" : "")>
        @(label)
    </label>
}


@helper rB(string name, int value, string label)
{
    //LogManager.GetLogger(this.GetType()).DebugFormat("Radio {0} = {1}", name, value);  
    <label>
        @{
            var optionSetValue = ((Entity) ViewBag.Survey).GetAttributeValue<OptionSetValue>("oems_" + name);
            var currentValue = optionSetValue != null ? optionSetValue.Value : 0;
            var isChecked = currentValue == value;}
        <input type="radio" name="@name" value="@value" @(isChecked ? "checked" : "")>
        @(label)
    </label>
}

@helper validationMsg(){
    <div class="ow_message">@Html.Raw(Html.SnippetLiteral("ElectronicSurvey/MissingAnswer","Answer is required !"))</div>
}


@* ReSharper restore InconsistentNaming *@

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-12m-3">
        @Html.Raw(Html.SnippetLiteral("ElectronicSurvey/Note", 
              "All information supplied on this survey is kept confidential to ETFO. Information derived from this survey will be used"
            + " as statistical data and to assist ETFO in policy and program development, outreach, collective bargaining, member services, and political action. "
            + "Information concerning individuals is not released or distributed by ETFO. Thank you for your co-operation."
            +" <p> <br/>" +
              "<i>Note: <b>Any retired teacher</b> who works as an occasional teacher is a member of ETFO and should complete this form!</i>" +
              "</p>"))
    </div>
</div>
<hr/>


<div class="row ow_heading">
    <div class="col-sm-5">
        <p style="">Position</p>
    </div>
</div>
        
<div class="row form-group">

    <div class="col-sm-3 ow_label">Position: @validationMsg()</div>
    <div class="col-sm-3 ">
        @cB("positionteacher", "Teacher")
        @cB("positionesp", "ESP")
        @cB("positionpsp", "PSP")
    </div>
    <div class="col-sm-6 ">
        @cB("positiondece", "DECE")
        @cB("positionotnotlto", "Occasional Teacher (Currently not on LTO assignment)")
        @cB("positionotlto", "Occasional Teacher (Currently on LTO assignment)")
    </div>
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">My Assignment is: @validationMsg()</div>
@*    values are matching legacy system*@
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-5">
                @rB("assignment", 100,"Full-Time")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Part-Time, please indicate nearest percentage:
            </div>
        </div>
        <div class="row ow_controlled_group">
            <div class="col-sm-12 ow_inline">
                @rB("assignment", 1, "10%")
                @rB("assignment", 2, "25%")
                @rB("assignment", 3, "50%")
                @rB("assignment", 4, "75%")
            </div>
        </div>
    </div>

</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Currently,<br />
        I am also a: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6 ">
                @cB("librarian","Teacher-Librarian")
                @cB("guidance","Guidance Counselor")
                @cB("nslteacher", "NSL Teacher")
                @cB("eslteacher", "ESL Teacher")
                @cB("corefrenchteacher", "Core French Teacher")
            </div>
            <div class="col-sm-6 ">
                @cB("frenchimmersion", "French Immersion Teacher")
                @cB("specialed", "Special Ed./ Resource Teacher")
                @cB("consultantcoordinator","Consultant/Coordinator")
                @cB("specialassignmentteacher","Special Assignment Teacher")
                @cB("otherteacher","Other")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                @clearingCB("iamna", "None of the above apply to me this school year")
            </div>
        </div>
    </div>
</div>
<hr />


<div class="row ow_heading">
    <div class="col-sm-12">
        <p style="">Current Teaching Assignment</p>
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Currently, I&nbsp;teach<br/>Single grade: @validationMsg()</div>
    <div class="col-sm-9 ">
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @rB("teachsinglegrade", 347780000, "K")
                @rB("teachsinglegrade", 347780001, "1")
                @rB("teachsinglegrade", 347780002, "2")
                @rB("teachsinglegrade", 347780003, "3")
                @rB("teachsinglegrade", 347780004, "4")
                @rB("teachsinglegrade", 347780005, "5")
                @rB("teachsinglegrade", 347780006, "6")
                @rB("teachsinglegrade", 347780007, "7")
                @rB("teachsinglegrade", 347780008, "8")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 ow_inline">
                @rB("teachsinglegrade", 347780009, "I do not teach a single grade class this school year")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Currently, I&nbsp;teach<br/>Combined grade: @validationMsg()</div>
    <div class="col-sm-9 ">
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @rB("teachcombinedgrade", 347780000, "K/1")
                @rB("teachcombinedgrade", 347780001, "1/2")
                @rB("teachcombinedgrade", 347780002, "2/3")
                @rB("teachcombinedgrade", 347780003, "3/4")
                @rB("teachcombinedgrade", 347780004, "4/5")
                @rB("teachcombinedgrade", 347780005, "5/6")
                @rB("teachcombinedgrade", 347780006, "6/7")
                @rB("teachcombinedgrade", 347780007, "7/8")
                @rB("teachcombinedgrade", 347780008, "Other")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 ow_inline">
                @rB("teachcombinedgrade", 347780009, "I do not teach a double combined grade class this school year")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Currently, I&nbsp;teach<br/>Triple combined: @validationMsg()</div>
    <div class="col-sm-9 ">
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @rB("teachtriplecombined", 347780000, "K/1/2")
                @rB("teachtriplecombined", 347780001, "1/2/3")
                @rB("teachtriplecombined", 347780002, "2/3/4")
                @rB("teachtriplecombined", 347780003, "3/4/5")
                @rB("teachtriplecombined", 347780004, "4/5/6")
                @rB("teachtriplecombined", 347780005, "5/6/7")
                @rB("teachtriplecombined", 347780006, "6/7/8")
                @rB("teachtriplecombined", 347780008, "Other")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 ow_inline">
                @rB("teachtriplecombined", 347780009, "I do not teach a triple combined grade class this school year")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Currently, I am a rotary teacher for: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-4 ">
                @cB("rotarymath", "Math")
                @cB("rotaryscience", "Science")
                @cB("rotaryhistorygeography", "History/Geography")
                @cB("rotaryfamilystudies", "Family Studies")
                @cB("rotarymusic", "Music")
            </div>
            <div class="col-sm-4 ">
                @cB("rotaryvisualarts", "Visual Arts")
                @cB("rotarydesignandtech", "Design & Tech")
                @cB("rotaryphysedhealth", "Phys Ed/Health")
                @cB("rotarydrama", "Drama")
                @cB("rotaryenglish", "English")
            </div>
            <div class="col-sm-4">
                @cB("rotaryfrench", "French")
                @cB("rotaryotherlanguage", "Other Language")
                @cB("rotarycomputertechnology", "Computer Technology")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @clearingCB("rotaryna","I do not teach any of the above rotary positions this school year")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Years of experience: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="col-sm-2">
            @{ 
                var survey = ((Entity) ViewBag.Survey);
                var yearsVal = survey.Contains("oems_yearsofexperience") ? survey.GetAttributeValue<decimal>("oems_yearsofexperience").ToString("#.00") : "";  
                }
            <input type="number" name="yearsofexperience" value="@yearsVal" class="text-right" style="width: 80px"/>
        </div>
        <div class="col-sm-5" >
            years of experience at the end of <br/> June @DateTime.Now.ToString("yyyy") 
        </div>
        <div class="col-sm-12">
            <em>
            Note: This number is to be used for statistical purposes only. It is not reported to the Teachers' Pension Plan
            </em>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Degrees: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3 ">
                @cB("degreesteachingcertificate","Teaching Certificate")
                @cB("degreesbabsc","B.A./B.Sc.")
            </div>
            <div class="col-sm-3 ">
                @cB("degreesbed","B.Ed.")
                @cB("degreesmastersdegree","Master's Degree")
            </div>
            <div class="col-sm-3 ">
                @cB("degreesdoctorate","Doctorate")
                @cB("degreesother","Other")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                @clearingCB("degreesna", "I do not have a degree")
            </div>
        </div>
    </div>
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Number of specialist certificates: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
        @rB("specialtycertificates", 6, "0")
        @rB("specialtycertificates", 1, "1")
        @rB("specialtycertificates", 2, "2")
        @rB("specialtycertificates", 3, "3")
        @rB("specialtycertificates", 4, "4")
        @rB("specialtycertificates", 5, "5+")
    </div>
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Which specialist certificate ? @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-4 ">
                @cB("specialtyprimary", "Primary")
                @cB("specialtyjunior", "Junior")
                @cB("specialtyintermediate", "Intermediate")
                @cB("specialtyspecialed", "Special Ed")
            </div>
            <div class="col-sm-4 ">
                @cB("specialtycoreextimrnfr", "Core/Ext/Imm Fr")
                @cB("specialtyesl", "ESL")
                @cB("specialtymusic", "Music")
            </div>
            <div class="col-sm-4">
                @cB("specialtyreading", "Reading")
                @cB("specialtylibrary", "Library")
                @cB("specialtyother", "Other")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                @clearingCB("specialtyna", "I do not have specialist certificate")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Do you have a community college diploma/certificate ? @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
        @rB("collegediplomacert", 2, "Yes")
        @rB("collegediplomacert", 1, "No")
    </div>           
</div>
<hr/>
 
<div class="row form-group">
    <div class="col-sm-3 ow_label">Do you have additional qualifications ? @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
        <div class="row">
            @cB("addqualece", "A diploma or certificate in Early Childhood Education")
            @cB("addqualecd","A post-secondary course credit in Early Childhood Development")
            @cB("addqualaqcreditbyoct","A Kindergarten Additional Qualification (AQ) credit recognized by the OCT")
        </div>
        <div class="row">
            @clearingCB("addqualna","I do not have the above qualifications")
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Principal qualifications: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @cB("principalpartone", "Part One")
                @cB("principalparttwo", "Part Two")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                @clearingCB("principalneither", "Neither of these")
            </div>
        </div>
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Supervisory officer qualifications: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
            @rB("supervisoryofficerqualifications", 2, "Yes")
            @rB("supervisoryofficerqualifications", 1, "No")
    </div>           
</div>
<hr/>
 
<div class="row form-group">
    <div class="col-sm-3 ow_label">QECO evaluation: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*        option set values are matching legacy system*@
        @rB("qecoevaluation",1, "D")
        @rB("qecoevaluation",2, "C")
        @rB("qecoevaluation",3, "B")
        @rB("qecoevaluation",8, "A")
        @rB("qecoevaluation",4, "A1")
        @rB("qecoevaluation",5, "A2")
        @rB("qecoevaluation",6, "A3")
        @rB("qecoevaluation",7, "A4")
    </div>
    <div class="col-sm-9 ow_inline">
        @rB("qecoevaluation",9, "I do not have a QECO evaluation")
    </div> 
</div>
<hr/>
 
<div class="row form-group ow_notrequired">
    <div class="col-sm-3 ow_label">Gender: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
            @rB("gender",2,"Female") @rB("gender",1,"Male")
    </div>           
</div>
<hr/>

<div class="row form-group ow_notrequired">
    <div class="col-sm-3 ow_label">Birth date: @validationMsg()</div>
    <div class="col-sm-9 ow_inline"> 
        @{ 
            var dateValue = ((Entity)ViewBag.Survey).GetAttributeValue<DateTime?>("oems_dateofbirth");
            var dateTxt = dateValue !=null ? String.Format("{0:MM/dd/yyyy}", dateValue) : ""; 
        }
        <input id="birthDate" type="text" value="@dateTxt">
    </div>           
</div>
<hr/>

 
<div class="row form-group">
    <div class="col-sm-3 ow_label">Number of dependent children: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*        values matching legacy system*@
        @rB("childdependants",9, "None") 
        @rB("childdependants",1, "1") 
        @rB("childdependants",2, "2") 
        @rB("childdependants",3, "3") 
        @rB("childdependants",4, "4") 
        @rB("childdependants",5, "5") 
        @rB("childdependants",6, "6+")
    </div>           
</div>
<hr/>
 
<div class="row form-group">
    <div class="col-sm-3 ow_label">Number of dependent children under 12: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
        @rB("numberofdependentchildrenunder12",347780000, "None") 
        @rB("numberofdependentchildrenunder12",347780001, "1") 
        @rB("numberofdependentchildrenunder12",347780002, "2") 
        @rB("numberofdependentchildrenunder12",347780003, "3") 
        @rB("numberofdependentchildrenunder12",347780004, "4") 
        @rB("numberofdependentchildrenunder12",347780005, "5+")
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Do you provide care to an aging or infirm adult? @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
            @rB("adultdependant",2,"Yes") @rB("adultdependant",1,"No") 
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">First language: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*      optionset  values are matching legacy system*@
        @rB("firstlanguage",1,"English") 
        @rB("firstlanguage",2,"French") 
        @rB("firstlanguage",3,"Other") 
        @{ 
            var val = ((Entity) ViewBag.Survey).GetAttributeValue<string>("oems_otherfirstlanguage");  
        }
        <input type="text" name="otherfirstlanguage" value="@val"  style="width: 120px"/>

    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">CURRENTLY on leave this year: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-5">
                @rB("onleavethisyear",347780000, "No")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Yes, I am on leave due to ...
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @rB("onleavethisyear",347780001, "Pregnancy")
                @rB("onleavethisyear",347780002, "Parental") 
                @rB("onleavethisyear",347780003, "Sabbatical/Study") 
                @rB("onleavethisyear",347780004, "Self funded")
                @rB("onleavethisyear",347780005, "Sick leave") 
                @rB("onleavethisyear",347780006, "LTD") 
                @rB("onleavethisyear",347780007, "Other")     
            </div>
        </div>
    </div>
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">Are you active in the community ? @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-5">
                @clearingCB("communityactive", "No")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Yes I am active in ...
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ow_inline">
                @cB("communityfundraising", "Fundraising")
                @cB("communityvolunteer", "Volunteer work")
                @cB("communitycoaching", "Coaching")
                @cB("communitypolitical", "Political activities")
                @cB("communityother", "Other activities")
            </div>
        </div>
    </div>
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">By what method would you like to receive ETFO Voice magazine? @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*      optionset  values are matching legacy system*@
        @rB("receivevoice", 1, "Electronically") 
        @rB("receivevoice", 2, "By mail") 
    </div>           
</div>
<hr/>

<div class="row form-group">
    <div class="col-sm-3 ow_label">By what method would you like to receive other information from ETFO? @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*      optionset  values are matching legacy system*@
        @rB("receiveothercommunication", 1, "Electronically") 
        @rB("receiveothercommunication", 2, "By mail") 
    </div>           
</div>
<hr/>

<div class="row">
    <div class="col-sm-12">
        @Html.Raw(Html.SnippetLiteral("ElectronicSurvey/SelfIdentification",
        "<p>" +
        "<b><u>Member Self-Identification</u></b> &nbsp;&nbsp; Member self-identification allows ETFO to achieve a critical goal, " +
        " supporting and encouraging the participation of all members in ETFO programs, services and events. " +
        "</p> " +
        "<p>" +
        "By completing this section, ETFO will be able to undertake the necessary statistical analysis to achieve this goal. " +
        "All information collected and the reporting of statistical data will ensure full confidentiality of all members.  " +
        "Although the completion of this section is voluntary, ETFO encourages members to self-identify." +
        "</p>"))
    </div>             
</div>

<div id="cb-selfidentify" class="row form-group ow_notrequired">
    <div class="col-sm-3 ow_label">Self-Identification: @validationMsg()</div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3">
                @cB("selfidaboriginal", "Aboriginal")
                @cB("selfidracialminority", "Racialized Group")
            </div>
            <div class="col-sm-4">
                @cB("selfiddisabled", "Person With A Disability")
                @cB("selfidwoman", "Woman")
            </div>
            <div class="col-sm-5">
                @cB("selfidgaylesbianbisexualtransgender", "Lesbian, Gay, Bisexual, Transgender, Queer or Questioning")
            </div>
        </div>
    </div>           
</div>
<hr/>


<div id="rb-selfidentify" class="row form-group ow_notrequired">
    <div class="col-sm-3 ow_label">I wish to self-identify: @validationMsg()</div>
    <div class="col-sm-9 ow_inline">
@*      optionset  values are matching legacy system*@
        @rB("selfidentify", 1, "for statistical purposes only") 
        @rB("selfidentify", 2, "for statistical purposes and for outreach (including direct mail) regarding ETFO programs, focus groups, writing groups, standing committees.") 
    </div>  
</div>
<hr/>


<div class="row">
    <div class="col-sm-12">
        @Html.Raw(Html.SnippetLiteral("ElectronicSurvey/EndNote"))
    </div>             
</div>
@if(survey.GetAttributeValue<OptionSetValue>("oems_surveystatus").Value 
      == ElectronicSurveyController.SurveyStatus.Submitted)
{
<div class="row">
    <div class="col-sm-12">
        @Html.Raw(Html.SnippetLiteral("ElectronicSurvey/Already submitted","<b>This survey is submitted, but you can make updates.<b>"))
    </div>             
</div>
}
<div class="row row ow_button">
    <button id="saveButton" class="btn  col-sm-2">
        @(Html.SnippetLiteral("ElectronicSurvey/Save", "Save"))
    </button>
    <button id="submitButton" class="btn btn-primary col-sm-2 ">
        @(Html.SnippetLiteral("ElectronicSurvey/Submit", "Submit"))
    </button>
</div>

<div class="row">
    <div class="col-sm-12">
        <br/>
        <div class="ow_saved alert alert-success" style="display: none"> 
            @(Html.SnippetLiteral("ElectronicSurvey/SavedMsg", "Changes have been saved"))
        </div>
        <div class="ow_errors  alert alert-error" style="display: none"> 
            @(Html.SnippetLiteral("ElectronicSurvey/SubmitErrorMsg", "Please correct missing answers"))
        </div>
        <div class="ow_submitted alert alert-success" style="display: none"> 
            @(Html.SnippetLiteral("ElectronicSurvey/SubmittedMsg", "Survey has been submitted "))
        </div>
        <div class="ow_system_error alert alert-error" style="display: none">  
            @(Html.SnippetLiteral("ElectronicSurvey/SystemError", "We are experiencing difficulties. Please try again later"))
        </div>
        <div class="ow_expired alert alert-error" style="display: none">  
            @(Html.SnippetLiteral("ElectronicSurvey/SessionExpired", "Your session has expired. You will need to log out and log in again to continue"))
        </div>
    </div> 
</div>
