﻿@using System.Web.Mvc.Html
@model Xrm.Account
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style-metronic.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="~/Areas/ElectronicSurvey/css/electrosurv.css">
    </head>

    <body id="electrosurv">
        <div id="infoReviewContainer" class="container">  
            @Html.Partial("_reviewContainer", Model)
        </div>

        <div id="surveyContainer" class="container hidden">
            @Html.Partial("_surveyContainer")
        </div>
    </body>

    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"> </script>
    <script src="~/js/jquery.date-dropdowns.js"> </script>
    <script src="~/js/iframeResizer.contentWindow.js"> </script>
    <script src="~/js/ETFO/electrosurv.js"> </script>
</html>