﻿@inherits System.Web.Mvc.WebViewPage

<!-- Modal -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h4 class="confirmText"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary okButton" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary cancelButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
        
<!-- Modal -->
<div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
                <button id="modalGoTo" type="button" class="btn btn-primary" style="display: none;"></button>
            </div>
        </div>
    </div>
</div>

<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modalTitle" class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
                <p id="modalMessage">help is on the way</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="overlapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="overlapTitle"></h4>
            </div>
            <div class="modal-body" id="overlapCourses">
                <ul>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>